<template>
    <div class="c2-dropdown-menu">
        <button
            class="trigger"
            ref="trigger"
            type="button"
            @click="toggleDropdown"
            :class="{'is-open' : isOpen}"
            aria-haspopup="true"
            :aria-expanded="isOpen ? 'true' : 'false'"
        >

            <span class="activeText" :data-value="active.id">
                {{ active.name }}
            </span>

            <slot name="dropdownIcon">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.75 0.75L6.75 6L0.75 11.25V0.75Z"/>
                </svg>
            </slot>
        </button>

        <ul
            class="list"
            role="menu"
            :aria-label="menuLabel"
            :class="[
                menuPosition,
                {'is-open' : isOpen}
            ]"
            aria-orientation="vertical"
        >
            <li
                v-for="(option, id) in options"
                :key="id"
                class="list-item"
                :class="{'is-active': option == active}"
                @click="activateItem(option)"
                @keydown.enter.space="activateItem(option)"
                @keydown.esc="toggleDropdown"
                role="menuitem"
                tabindex="0"
            >
                {{ option.name }}
            </li>
        </ul>

    </div>
</template>

<script>

    export default {
        name: 'C2DropdownMenu',
        props: {
            options: {
                type: Array,
                default() {
                    return []
                }
            },
            firstActive: {
                type: Number,
                default: 0
            },            
            // support v-model:
            value: {
                type: String || Number,
                default: null
            },
            isClosed: {
                type: Boolean
            },
            menuLabel: {
                type: String,
                default: ''
            },
            autoClose: {
                type: Boolean,
                default: true
            },
            menuPosition: {
                type: String,
                default: 'position-below'
            }
        },
        data() {
            return {
                isOpen: false,
                active: this.options[this.firstActive],
                trigger: null,
                autoCloseInternal: this.autoClose
            }
        },
        watch: {
            isClosed() {
                if (this.isClosed) {
                    this.isOpen = false;
                }
            }
        },
        mounted() {
            this.trigger = this.$refs.trigger;
            // support v-model:
            if (this.value !== null) {
                // we're using v-model, initialize the dropdown
                let initialValue = this.options.find(option => {
                    return option.id === this.value;
                });
                // if the v-model initial value is defined in options
                if (initialValue !== undefined) {
                    // set it as active
                    this.active = initialValue;
                } else {
                    // if not, then set the first option as active
                    // and emit the value so it is set on the model
                    this.activateItem(this.options[0]);
                    // close the dropdown
                    this.toggleDropdown();
                    // blur the trigger button
                    this.$refs.trigger.blur();
                }
            }
        },
        methods: {
            toggleDropdown() {
                this.isOpen = !this.isOpen;
            },
            activateItem(option) {
                this.active = option;
                if (this.autoCloseInternal) {
                    this.toggleDropdown();
                }
                this.trigger.focus();
                this.$emit('item-selected', option.id);
                // support v-model:
                this.$emit('input', option.id);
            }
        }
    }
</script>

<style lang="scss" scoped>

    .c2-dropdown-menu {
        position: relative;

        .trigger {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 2;
            padding: 13px 16px;
            width: 100%;
            background-color: white;
            color: black;
            border: 1px solid lightgrey;
            text-align: left;
            font-size: 1rem;

            svg {
                transition: transform 0.3s ease-in-out;

                path {
                    fill:#718096;
                }
            }

            &.is-open {

                svg {
                    transform: rotate(90deg);
                }
            }
        }

        .list {
            position: absolute;
            z-index: 1;
            width: 100%;
            top: 100%;
            left: 0;
            list-style: none;
            margin: 0;
            padding: 0;
            border: 1px solid lightgrey;
            border-top: 0;
            box-sizing: border-box;
            opacity: 0;
            visibility: hidden;
            transform: translate(0,-10%);
            font-size: 1rem;
            background-color: white;
            color: black;
            transition: opacity 0.3s ease-in-out,
                visibility 0.3s ease-in-out,
                transform 0.3s ease-in-out;

            &.is-open {
                opacity: 1;
                visibility: visible;
                transform: translate(0,0);
            }

            &.position-right {
                top: 0;
                left: 100%;
                transform: translate(-10%, 0);
                border-top: 1px solid lightgrey;

                &.is-open {
                    transform: translate(0,0);
                }
            }

            .list-item {
                cursor: pointer;
                padding: 13px 16px;
                border-bottom: 1px solid lightgrey;

                &:last-child {
                    border-bottom: 0;
                }

                &:hover {
                    background: rgba(#000, 0.1);
                }

                &.is-active {
                    display: none;
                }
            }
        }
    }

</style>

