<template>
    <div
        class="c2-text-area"
        :class="[
        {
            'input-disabled': inputDisabled,
            'input-error': hasError || isInvalid,
            'input-success': hasSuccess || isValid,
            [`${disabledClass}`] : inputDisabled,
            [`${errorClass}`] : hasError || isInvalid,
            [`${successClass}`] : hasSuccess || isValid
        }]"
    >
        <label :for="uid">
            {{ label }}
        </label>
        <div class="c2-text-area-wrapper">
            <textarea
                :id="uid"
                :value="value"
                :disabled="inputDisabled"
                :required="isRequired"
                :placeholder="placeholder"
                @blur="validateInput"
                v-bind="$attrs"
                v-on="inputListeners"
                ref="textarea"
            >

            </textarea>
            <span class="error-icon">
                <slot name="error-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 32 32">
                        <rect fill="none" width="32" height="32" />
                        <path fill="#C53030" d="M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14s14-6.3,14-14C30,8.3,23.7,2,16,2z M14.9,8h2.2v11h-2.2V8z M16,25
                        c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22c0.8,0,1.5,0.7,1.5,1.5S16.8,25,16,25z" />
                        <path class="st1" fill="white" d="M17.5,23.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22
                        C16.8,22,17.5,22.7,17.5,23.5z M17.1,8h-2.2v11h2.2V8z" />
                    </svg>
                </slot>
            </span>
            <span class="success-icon">
                <slot name="success-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                        <path fill="#48BB78" d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2ZM14,21.5908l-5-5L10.5906,15,14,18.4092,21.41,11l1.5957,1.5859Z" />
                        <polygon fill="none" points="14 21.591 9 16.591 10.591 15 14 18.409 21.41 11 23.005 12.585 14 21.591" />
                        <rect data-name="&lt;Transparent Rectangle&gt;" fill="none" width="32" height="32" />
                    </svg>
                </slot>
            </span>
        </div>
        <div class="c2-text-input-error-message" v-if="hasError || isInvalid">
            <slot name="error-message">{{ errorMessage }}</slot>
        </div>
    </div>
</template>

<script>
    import { uidMixin } from '../../mixins';

    export default {
        name: 'C2TextArea',
        mixins: [
            uidMixin
        ],
        inheritAttrs: false,
        data() {
            return {
                dataType: this.type,
                hasError: false,
                hasSuccess: false,
                placeholder: ''
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        props: {
            errorClass: {
                type: String,
                default: ''
            },
            errorMessage: {
                type: String,
                default: null
            },
            disabledClass: {
                type: String,
                default: ''
            },
            isDisabled: {
                type: Boolean,
                default: false
            },
            isInvalid: {
                type: Boolean,
                default: false
            },
            isValid: {
                type: Boolean,
                default: false
            },
            isRequired: {
                type: Boolean,
                default: false
            },
            label: {
                type: String,
                default: null
            },
            regexValidator: {
                type: RegExp,
                default: null
            },
            successClass: {
                type: String,
                default: ''
            },
            value: {
                type: [String, Number],
                default: null
            },
            desktopPlaceholder: {
                type: String,
                default: null
            },
            mobilePlaceholder: {
                type: String,
                default: null
            }
        },
        computed: {
            inputListeners() {
                return {
                    ...this.$listeners,
                    input: event => this.$emit('input', event.target.value)
                };
            },
            inputDisabled() {
                const hasDisabledAttr = this.$attrs.disabled !== undefined && this.$attrs.disabled;

                return this.isDisabled || hasDisabledAttr;
            }
        },
        methods: {
            validateInput() {
                if (!this.value || !this.regexValidator) {
                    this.hasError = false;
                    this.hasSuccess = false;
                    return;
                }

                this.hasSuccess = this.regexValidator.test(this.value);
                this.hasError = !this.hasSuccess;
            },
            handleResize() {
                if (window.matchMedia('(max-width: 1023px)').matches) {
                    this.placeholder = this.mobilePlaceholder ?? this.$attrs.placeholder;
                } else {
                    this.placeholder = this.desktopPlaceholder ?? this.$attrs.placeholder;
                }
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(newValue) {
                    if (!newValue || !this.regexValidator) {
                        this.hasError = false;
                        this.hasSuccess = false;
                        return;
                    }

                    this.hasSuccess = this.regexValidator.test(newValue);

                    if (this.hasSuccess) {
                        this.hasError = false;
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-text-area-wrapper {
        background-color: #edf2f7;
        height: 150px;
        position: relative;

        textarea {
            background: transparent;
            border: 1px solid transparent;
            border-radius: 0;
            bottom: 0;
            box-sizing: border-box;
            color: #1a202c;
            font-family: Arial, serif;
            font-size: 16px;
            left: 0;
            line-height: 24px;
            outline: 0;
            padding: 14px 18px 12px 16px;
            position: absolute;
            resize: none;
            right: 0;
            top: 0;
            transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;
            width: 100%;

            .input-disabled & {
                color: rgba(26, 32, 44, .6);
                opacity: .6;
                pointer-events: none;
            }

            .input-error &,
            .input-error &:focus {
                border-color: #c53030;
                box-shadow: 0 0 0 3px rgba(197, 48, 48, 0.25);
            }

            .input-success &,
            .input-success &:focus {
                border-color: #38a169;
                box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.25);
            }

            &:focus {
                border-color: #5a67d8;
                box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.5);
            }

            &::placeholder,
            &:-ms-input-placeholder,
            &::-ms-input-placeholder {
                color: rgba(26, 32, 44, .6);
            }
        }

        .input-disabled & {
            cursor: not-allowed;
        }

        .error-icon,
        .success-icon {
            display: inline-block;
            height: 22px;
            opacity: 0;
            position: absolute;
            right: 2px;
            top: 5px;
            transition: opacity ease-in-out .2s;
            width: 22px;
        }

        .error-icon {
            .input-error & {
                opacity: 1;
            }
        }

        .success-icon {
            .input-success & {
                opacity: 1;
            }
        }
    }
</style>
