<template>
    <section class="c2-pagination" v-if="totalPages > 1">
        <button
            class="pagination-button previous-button"
            type="button"
            @click="goToPreviousPage"
            :disabled="previousPageButtonDisabled"
        >
            <span class="sr-only">Previous Page</span>
            <slot name="previousPageIcon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.7 0.7L1.9 4.5H14V5.5H1.9L5.7 9.3L5 10L0 5L5 0L5.7 0.7Z" fill="black"/>
                </svg>
            </slot>
        </button>
        <ul class="c2-pages">
            <li class="pager-item" v-for="(pageNum, index) in visiblePages" :key="`pageNum-${index}`">
                <button
                    class="page-number-button"
                    type="button"
                    @click="goToPage(pageNum)"
                    :class="[
                        {
                            'active-page': pageValue === pageNum
                        }
                    ]"
                >
                    {{ pageNum }}
                </button>
            </li>
        </ul>
        <button
            class="pagination-button next-button"
            type="button"
            @click="goToNextPage"
            :disabled="nextPageButtonDisabled"
        >
            <span class="sr-only">Next Page</span>
            <slot name="nextPageIcon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.3 0.7L12.1 4.5H0V5.5H12.1L8.3 9.3L9 10L14 5L9 0L8.3 0.7Z" fill="black"/>
                </svg>
            </slot>
        </button>
    </section>
</template>

<script>
    function paginate(currentPage, totalPages, maxPages) {
        const HALF_DIVIDER = 2;
        let startPage = 1;
        let endPage = 1;

        if (totalPages <= maxPages) {
            // total pages less than max so show all pages
            startPage = 1;
            endPage = totalPages;

            // create an array of pages to repeat over
            return Array.from(Array((endPage + 1) - startPage).keys()).map(i => startPage + i);
        }

        // total pages more than max so calculate start and end pages
        const maxPagesBeforeCurrentPage = Math.floor(maxPages / HALF_DIVIDER);
        const maxPagesAfterCurrentPage = Math.ceil(maxPages / HALF_DIVIDER) - 1;

        if (currentPage <= maxPagesBeforeCurrentPage) {
            // current page near the start
            startPage = 1;
            endPage = maxPages;
        } else if (currentPage + maxPagesAfterCurrentPage >= totalPages) {
            // current page near the end
            startPage = totalPages - maxPages + 1;
            endPage = totalPages;
        } else {
            // current page somewhere in the middle
            startPage = currentPage - maxPagesBeforeCurrentPage;
            endPage = currentPage + maxPagesAfterCurrentPage;
        }

        // create an array of pages to repeat over
        return Array.from(Array((endPage + 1) - startPage).keys()).map(i => startPage + i);
    }

    function determineCurrentPageValue(currentPage, totalPages) {
        if (currentPage < 1) {
            return 1;
        } else if (currentPage > totalPages) {
            return totalPages;
        }

        return currentPage;
    }


    export default {
        name: 'C2Pagination',
        props: {
            currentPage: {
                type: Number,
                default: 1
            },
            maxPagesVisible: {
                type: Number,
                default: 7
            },
            totalPages: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                pageCount: 1,
                pageValue: 1
            }
        },
        computed: {
            nextPageButtonDisabled() {
                return this.pageValue >= this.pageCount;
            },
            previousPageButtonDisabled() {
                return this.pageValue <= 1;
            },
            visiblePages() {
                return paginate(this.pageValue, this.pageCount, this.maxPagesVisible);
            }
        },
        mounted() {
            this.pageValue = determineCurrentPageValue(this.currentPage, this.totalPages);
            this.pageCount = this.totalPages;
        },
        watch: {
            currentPage() {
                this.pageValue = determineCurrentPageValue(this.currentPage, this.totalPages);
            },
            totalPages() {
                // if the total pages change, then we're resetting everything
                this.pageValue = 1;
                this.pageCount = this.totalPages;
            }
        },
        methods: {
            goToPage(pageNum) {
                this.pageValue = parseInt(pageNum, 10);
                this.$emit('change', this.pageValue);
            },
            goToNextPage() {
                if (this.pageValue <= this.pageCount) {
                    this.pageValue++;
                    this.$emit('change', this.pageValue);
                }
            },
            goToPreviousPage() {
                if (this.pageValue >= 1) {
                    this.pageValue--;
                    this.$emit('change', this.pageValue);
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-pages {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;

        .pager-item {
            flex: 0 1 auto;
        }
    }

    .c2-pagination {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .next-button {
        margin-left: 32px;
    }

    .page-number-button {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    .page-number-button,
    .pagination-button {
        align-items: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        outline: 0;
        padding: 0;
        position: relative;
        width: 32px;

        .sr-only {
            border: 0;
            clip: rect(0,0,0,0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }

    .pagination-button {
        svg {
            height: 10px;
            width: 14px;
        }
    }

    .previous-button {
        margin-right: 32px;
    }
</style>
