<template>
    <div class="c2-accordion">
        <slot name="title"></slot>
        <p v-if="description">{{ description }}</p>
        <div class="accordion-items">
            <slot name="content"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'C2Accordion',
        props: {
            description: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>
