<template>
    <div
        class="c2-accordion-item"
        :class="[
            {
                [`${activeClass}`]: visible,
                'item-disabled': isDisabled,
                'item-active': visible
            }
        ]">
        <button class="accordion-toggle-button" :disabled="isDisabled" @click="toggle">
            <div class="header-title">
                <slot name="title"></slot>
            </div>
            <div class="open-icon" v-if="visible">
                <slot name="open-icon">
                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 10L8 0L16 10H0Z" fill="black"/>
                    </svg>
                </slot>
            </div>
            <div class="close-icon" v-if="!visible">
                <slot name="close-icon">
                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 0L8 10L0 0H16Z" fill="black"/>
                    </svg>
                </slot>
            </div>
        </button>
        <transition
            name="accordion"
            @enter="enter"
            @after-enter="afterEnter"
            @after-leave="afterLeave"
            @before-enter="beforeEnter"
            @before-leave="beforeLeave"
        >
            <div
                class="accordion-content"
                v-show="visible"
            >
                <slot name="content"></slot>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'C2AccordionItem',
        data() {
            return {
                visible: this.isOpen
            };
        },
        props: {
            isDisabled: {
                type: Boolean,
                default: false
            },
            isOpen: {
                type: Boolean,
                default: false
            },
            activeClass: {
                type: String,
                default: ''
            }
        },
        methods: {
            afterEnter: function(el) {
                el.style.height = '';
            },
            beforeEnter: function(el) {
                el.style.height = '0px';
            },
            closeAccordion() {
                this.visible = false;
            },
            openAccordion() {
                this.visible = true;
            },
            enter: function(el) {
                el.style.height = el.scrollHeight + 'px';
            },
            afterLeave: function(el) {
                el.style.height = '';
            },
            beforeLeave: function(el) {
                el.style.height = el.scrollHeight + 'px';
            },
            toggle() {
                this.visible = !this.visible;
            }
        },
        watch: {
            isOpen() {
                this.visible = this.isOpen;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .accordion-enter,
    .accordion-leave-to {
        opacity: 0;
    }

    .accordion-leave-to {
        height: 0 !important;
    }

    .accordion-enter-active,
    .accordion-leave-active {
        overflow: hidden;
        transition: height 0.3s ease-in-out, opacity .3s ease-in-out;
        will-change: height, opacity;
    }

    .accordion-content {
        border: 1px solid #DDD;
        border-top: 0;
    }

    .accordion-toggle-button {
        background-color: transparent;
        border: 1px solid #DDD;
        display: flex;
        margin: 0;
        min-height: 56px;
        padding: 0 26px 0 24px;
        justify-content: space-between;
        transition: border .3s ease-in-out;
        width: 100%;
    }

    .c2-accordion-item {
        margin-bottom: 16px;
    }

    .header-title {
        padding-right: 15px;
        text-align: left;
    }

    .close-icon,
    .header-title,
    .open-icon {
        align-self: center;
    }
</style>
