<template>
    <a
        class="c2-btn-link"
        :class="[
            btnClass,
            {
                'btn-icon': hasIcon,
                'icon-left': iconDir === 'left',
                'icon-right': iconDir === 'right'
            }
        ]"
        :href="btnHref"
        @click="eventListener"
        :target="btnTarget"
    >
        <div class="flex">
            <slot name="text"></slot>
            <span class="icon" v-if="hasIcon">
                <slot name="icon"></slot>
            </span>
        </div>
    </a>
</template>

<script>
    export default {
        name: 'C2ButtonLink',
        props: {
            btnClass: {
                type: String,
                default: null
            },
            btnHref: {
                type: String,
                default: null
            },
            btnTarget: {
                type: String,
                default: null
            },
            hasIcon: {
                type: Boolean,
                default: false
            },
            iconDir: {
                type: String,
                default: null
            }
        },
        methods: {
            eventListener (e) {
                this.$emit('click', e)
            }
        }
    }
</script>

<style lang="scss" scoped>

    .c2-btn-link {
        cursor: pointer;
        display: inline-block;

        .flex {
            display: flex;
            align-items: center;

            span {
                order: 5;
            }
        }

        &.icon-left {

            .icon {
                order: 0;
                margin-right: 8px;
            }
        }

        &.icon-right {

            .icon {
                margin-left: 8px;
            }
        }
    }
</style>
