<template>
    <button
        class="c2-btn"
        :class="[
            btnClass,
            {
                'btn-icon': hasIcon,
                'icon-left': iconDir === 'left',
                'icon-right': iconDir === 'right',
                'has-hover-icon': hasHoverIcon
            }
        ]"
        :disabled="isDisabled"
        @click="eventListener"
    >
        <span class="flex">
            <slot name="text"></slot>
            <span class="icon" v-if="hasIcon">
                <slot name="icon"></slot>
            </span>
            <span class="icon hover" v-if="hasHoverIcon">
                <slot name="hover-icon"></slot>
            </span>
        </span>
    </button>
</template>

<script>
    export default {
        name: 'C2Button',
        props: {
            btnClass: {
                type: String,
                default: null
            },
            hasHoverIcon: {
                type: Boolean,
                default: false
            },
            hasIcon: {
                type: Boolean,
                default: false
            },
            iconDir: {
                type: String,
                default: 'right'
            },
            isDisabled: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            eventListener (e) {
                this.$emit('click', e)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-btn {
        cursor: pointer;
        display: inline-block;
        padding: 13px 16px;

        .flex {
            display: flex;
            align-items: center;

            span {
                order: 5;
            }
        }

        &.icon-left {
            .icon {
                order: 0;
                margin-right: 8px;
            }
        }

        &.icon-right {
            .icon {
                margin-left: 8px;
            }
        }

        &.has-hover-icon {
            .icon.hover {
                display: none;
            }

            &:hover {
                .icon {
                    display: none;
                }

                .icon.hover {
                    display: block;
                }
            }
        }

        &[disabled] {
            .icon {
                opacity: 0.3;
            }
        }
    }
</style>
