<template>
    <div
        class="c2-button-group"
        :class="[
            {
                'group-justified': justified,
                'group-vertical': vertical
            }
        ]"
        role="group"
        :aria-label="label"
    >
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'C2ButtonGroup',
        props: {
            label: {
                type: String,
                default: 'Button Group'
            },
            justified: {
                type: Boolean,
                default: false
            },
            vertical: {
                type: Boolean,
                default: false
            }
        }
    };
</script>

<style lang="scss" scoped>
    .c2-button-group {
        position: relative;
        display: inline-flex;
        vertical-align: middle;

        &.group-vertical {
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;

            &::v-deep {
                > .c2-btn {
                    width: 100%;
                }

                > .c2-btn:not(:first-child) {
                    margin-top: -1px;
                }

                > .c2-btn:first-child {
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }

                > .c2-btn:last-child {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }

        &:not(.group-vertical) {
            > .c2-btn:not(:first-child) {
                margin-left: -1px;
            }

            > .c2-btn:first-child {
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            > .c2-btn:last-child {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }
        }

        &::v-deep {
            .c2-btn {
                border: 1px solid grey;
                border-radius: 0;
                flex: 1 1 auto;
                position: relative;

                &:focus,
                &:hover {
                    z-index: 1;
                }
            }
        }
    }
</style>
