<template >
    <router-link
        v-if="useRouter"
        :disabled="isDisabled"
        :aria-disabled="ariaDisabled"
        :to="href"
        :target="target"
        :rel="relFiller"
        class="c2-router-link"
        @click="eventListener"
    >
        <slot></slot>
    </router-link>
    <a
        v-else
        :disabled="isDisabled"
        :aria-disabled="ariaDisabled"
        :href="href"
        :target="target"
        :rel="relFiller"
        class="c2-link"
        @click="eventListener"
    >
        <slot></slot>
    </a>
</template>

<script>
    export default {
        name: 'C2Link',
        data() {
            return {
                ariaDisabled: this.isDisabled ? 'true': 'false'
            }
        },
        computed: {

            relFiller() {
                if (!this.assumeAbsoluteIsCrossOrigin) {
                    return '';
                } else if (this.isUrlAbsolute()) {
                    return 'noreferrer noopener';
                }

                return '';
            }
        },
        props: {
            assumeAbsoluteIsCrossOrigin: {
                type: Boolean,
                default: true
            },
            isDisabled: {
                type: Boolean,
                default: false
            },
            href: {
                type: String,
                default: '',
                required: true
            },
            target: {
                type: String,
                default: '_self',
                validator: value => {
                    return value === '_blank' ||
                           value === '_self' ||
                           value === '_parent' ||
                           value === '_top';
                }
            },
            useRouter: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            eventListener (e) {
                this.$emit('click', e)
            },
            isUrlAbsolute() {
                const url = this.href;

                if (url.indexOf('//') === 0) {
                    // URL is protocol-relative (= absolute)
                    return true;
                } else if (url.indexOf('://') === -1) {
                    // URL has no protocol (= relative)
                    return false;
                } else if (url.indexOf('.') === -1) {
                    // URL does not contain a dot, i.e. no TLD (= relative, possibly REST)
                    return false;
                } else if (url.indexOf('/') === -1) {
                    // URL does not contain a single slash (= relative)
                    return false;
                } else if (url.indexOf(':') > url.indexOf('/')) {
                    // The first colon comes after the first slash (= relative)
                    return false;
                } else if (url.indexOf('://') < url.indexOf('.')) {
                    // Protocol is defined before first dot (= absolute)
                    return true;
                }

                // Anything else must be relative
                return false;
            }
        }
    }
</script>

<style scoped>

</style>
