<template>
    <div class="c2-bg-color-hero-banner" :style="cssVars">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'C2BackgroundColorHeroBanner',
        props: {
            backgroundColor: {
                type: String,
                required: true,
                validator: value => {
                    const colorRegexValidator = /^#[A-Fa-f0-9]{6}$/;
                    return !value || colorRegexValidator.test(value);
                }
            }
        },
        computed: {
            cssVars () {
                return {
                    '--c2HeroBackgroundColor': this.backgroundColor
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-bg-color-hero-banner {
        background-color: var(--c2HeroBackgroundColor);
        box-sizing: border-box;
        overflow: auto;
        padding: 72px 60px;

        @media screen and (max-width: 1023px) {
            padding: 32px 16px;
        }
    }
</style>
