<template>
    <div class="c2-image-hero-banner" :class="[imageClass]" :style="cssVars">
        <picture v-if="backgroundImageMobile">
            <source :srcset="backgroundImageMobile"
                    :media="`(max-width: ${mobileMediaBreakpoint})`">
            <img :src="backgroundImage" class="hero-banner-image" alt="hero-banner" />
        </picture>

        <img v-if="!backgroundImageMobile" :src="backgroundImage" class="hero-banner-image" alt="hero-banner" />
        
        <div class="c2-banner-inner-content" v-if="backgroundOverlay">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'C2ImageHeroBanner',
        props: {
            backgroundImage: {
                type: String,
                required: true
            },
            backgroundOverlay: {
                type: String,
                default: null,
                validator: value => {
                    // must be a valid rgba color
                    const rgbaValidator = /^rgba\((\d{1,3}%?),\s*(\d{1,3}%?),\s*(\d{1,3}%?),\s*(\d*(?:\.\d+)?)\)$/;
                    return !value || rgbaValidator.test(value);
                }
            },
            backgroundImageMobile: {
                type: String,
                required: true
            },
            mobileMediaBreakpoint: {
                type: String,
                default: '420px'
            }
        },
        computed: {
            cssVars () {
                return {
                    '--c2HeroBackgroundImageOverlay': this.backgroundOverlay ? this.backgroundOverlay : 'transparent'
                }
            },
            imageClass () {
                return this.backgroundOverlay ? 'c2-image-overlay' : '';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-banner-inner-content {
        position: relative;
        z-index: 1;
    }

    .c2-image-hero-banner {
        box-sizing: border-box;
        overflow: auto;
        padding: 60px 72px;
        position: relative;

        &.c2-image-overlay {
            &::after {
                background-color: var(--c2HeroBackgroundImageOverlay);
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        @media screen and (max-width: 1023px) {
            padding: 32px 16px;
        }
    }

    .hero-banner-image {
        height: 100%;
        left: 0;
        object-fit: cover;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
</style>
