<template>
    <section
        class="c2-hero-banner"
        :class="[
            {
                [`${maxHeightClass}`]: contentPositionBelow
            }
        ]">
        <component
            :class="[
                {
                    [`${maxHeightClass}`]: contentPositionInside
                },
                className
            ]"
            :is="heroType"
            :background-image="backgroundImage"
            :background-image-mobile="backgroundImageMobile"
            :background-color="backgroundColor"
            :mobile-media-breakpoint="mobileMediaBreakpoint"
            :style="cssVars"
            :background-overlay="backgroundOverlay">
            <slot v-if="contentPositionInside"></slot>
        </component>
        <div class="c2-hero-content" v-if="contentPositionBelow">
            <slot></slot>
        </div>
    </section>
</template>

<script>
    import C2ImageHeroBanner from './_c2-image-hero-banner.vue';
    import C2BackgroundColorHeroBanner from './_c2-background-color-hero-banner.vue';

    export default {
        name: 'C2HeroBanner',
        components: {
            C2BackgroundColorHeroBanner: C2BackgroundColorHeroBanner,
            C2ImageHeroBanner: C2ImageHeroBanner
        },
        props: {
            backgroundImage: {
                type: String,
                default: null
            },
            backgroundImageMobile: {
                type: String,
                default: null
            },
            backgroundColor: {
                type: String,
                default: null
            },
            backgroundOverlay: {
                type: String,
                default: null
            },
            contentPosition: {
                type: String,
                default: 'inside',
                validator: value => {
                    return value === 'inside' ||
                           value === 'below';
                }
            },
            maxHeight: {
                type: String,
                default: null,
                validator: value => {
                    // must be a positive number with a unit of measure following
                    const pxRegExValidator = /\d+(px|rem|em|%)/i;
                    return !value || pxRegExValidator.test(value);
                }
            },
            mobileMediaBreakpoint: {
                type: String,
                default: '420px'
            }
        },
        computed: {
            className () {
                return this.contentPosition === 'inside' ? 'c2-hero-banner' : '';
            },
            cssVars () {
                return {
                    '--c2HeroMaxHeight': this.maxHeight
                };
            },
            maxHeightClass () {
                return this.maxHeight ? 'c2-hero-max-height' : '';
            },
            contentPositionBelow () {
                return this.contentPosition === 'below';
            },
            contentPositionInside () {
                return this.contentPosition === 'inside';
            },
            heroType () {
                return this.backgroundImage ? 'c2-image-hero-banner' : 'c2-background-color-hero-banner';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-hero-banner {
        box-sizing: border-box;
        overflow: auto;

        &.c2-hero-max-height {
            max-height: var(--c2HeroMaxHeight);
        }
    }

    .c2-hero-content {
        box-sizing: border-box;
        overflow: auto;
        padding: 32px 72px;

        @media screen and (max-width: 1023px) {
            padding: 16px;
        }
    }
</style>
