<template>
    <div class="c2-file-upload">
        <h3 v-if="headerLabel" class="file-upload-header">{{ headerLabel }}</h3>
        <div
            class="c2-file-upload-wrapper"
            :class="[
            {
                'has-focus': hasFocus,
                'input-disabled': inputDisabled,
                'input-error': hasError || isInvalid,
                'input-success': hasSuccess || isValid,
                [`${disabledClass}`] : inputDisabled,
                [`${errorClass}`] : hasError || isInvalid,
                [`${successClass}`] : hasSuccess || isValid
            }]"
        >
            <span
                v-if="inputLabel"
                class="c2-file-placeholder"
                :style="placeholderStyles"
                :class="[
                    {
                        'is-default-placeholder': isDefaultInputLabel
                    }
                ]"
            >
                {{ inputLabel }}
            </span>
            <input
                class="c2-file"
                :id="uid"
                :disabled="inputDisabled"
                :required="isRequired"
                type="file"
                v-bind="$attrs"
                @change="updateFiles"
                @blur="validateInput(); removeFocusState();"
                @focus="setFocusState"
                ref="input"
            />
            <label
                class="c2-file-label"
                :class="[
                    {
                        'left-alignment': buttonAlignment === 'left'
                    }
                ]"
                :for="uid"
                ref="uploadButton"
            >
                {{ buttonLabel }}
            </label>
            <span
                class="error-icon"
                :class="[
                    {
                        'right-alignment': buttonAlignment === 'left'
                    }
                ]"
            >
                <slot name="error-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 32 32">
                        <rect fill="none" width="32" height="32" />
                        <path fill="#C53030" d="M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14s14-6.3,14-14C30,8.3,23.7,2,16,2z M14.9,8h2.2v11h-2.2V8z M16,25
                        c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22c0.8,0,1.5,0.7,1.5,1.5S16.8,25,16,25z" />
                        <path class="st1" fill="white" d="M17.5,23.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22
                        C16.8,22,17.5,22.7,17.5,23.5z M17.1,8h-2.2v11h2.2V8z" />
                    </svg>
                </slot>
            </span>
            <span
                class="success-icon"
                :class="[
                    {
                        'right-alignment': buttonAlignment === 'left'
                    }
                ]"
            >
                <slot name="success-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                        <path fill="#48BB78" d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2ZM14,21.5908l-5-5L10.5906,15,14,18.4092,21.41,11l1.5957,1.5859Z" />
                        <polygon fill="none" points="14 21.591 9 16.591 10.591 15 14 18.409 21.41 11 23.005 12.585 14 21.591" />
                        <rect data-name="&lt;Transparent Rectangle&gt;" fill="none" width="32" height="32" />
                    </svg>
                </slot>
            </span>
        </div>
    </div>
</template>

<script>
    import { uidMixin } from '../../mixins';

    export default {
        name: 'C2FileUpload',
        mixins: [
            uidMixin
        ],
        inheritAttrs: false,
        model: {
            prop: 'files',
            event: 'change'
        },
        props: {
            buttonAlignment: {
                type: String,
                default: 'right',
                validation: function (value) {
                    return value === 'right' || value === 'left';
                }
            },
            buttonLabel: {
                type: String,
                default: 'Browse',
            },
            disabledClass: {
                type: String,
                default: ''
            },
            errorClass: {
                type: String,
                default: ''
            },
            files: {
                type: Array
            },
            headerLabel: {
                type: String,
                default: '',
            },
            isDisabled: {
                type: Boolean,
                default: false
            },
            isInvalid: {
                type: Boolean,
                default: false,
            },
            isValid: {
                type: Boolean,
                default: false
            },
            isRequired: {
                type: Boolean,
                default: false
            },
            placeholder: {
                type: String,
                default: 'Upload a file'
            },
            successClass: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                hasError: false,
                hasFocus: false,
                hasSuccess: false,
                inputLabel: '',
                isDefaultInputLabel: null,
                placeholderStyles: {}
            };
        },
        computed: {
            inputDisabled() {
                const hasDisabledAttr = this.$attrs.disabled !== undefined && this.$attrs.disabled;

                return this.isDisabled || hasDisabledAttr;
            }
        },
        watch: {
            buttonAlignment() {
                this.setInputPlaceholderAlignment();
            },
            buttonLabel() {
                this.setInputPlaceholderAlignment();
            },
            files(newFilesValue) {
                this.validateInput();
                this.setInputPlaceholder(newFilesValue);
            },
            hasError() {
                this.setInputPlaceholderAlignment();
            },
            hasSuccess() {
                this.setInputPlaceholderAlignment();
            }
        },
        created() {
            this.setInputPlaceholder(this.files);
        },
        mounted() {
            this.setInputPlaceholderAlignment();
        },
        methods: {
            removeFocusState() {
                this.hasFocus = false;
            },
            setFocusState() {
                this.hasFocus = true;
            },
            setInputPlaceholder(files) {
                const ZERO_FILES = 0;
                const ONE_FILE = 1;
                const FIRST_FILE_INDEX = 0;

                if (!files || files.length === ZERO_FILES) {
                    this.inputLabel = this.placeholder ? this.placeholder : '';
                    this.isDefaultInputLabel = true;
                    return;
                }
                else if (files.length > ONE_FILE) {
                    this.inputLabel = `${files.length} files selected.`;
                }
                else if (files.length === ONE_FILE) {
                    this.inputLabel = files[FIRST_FILE_INDEX].name;
                }

                this.isDefaultInputLabel = false;
            },
            setInputPlaceholderAlignment() {
                const SPACING = 12;
                const uploadButtonPadding = this.$refs.uploadButton.offsetWidth + SPACING;

                if (this.buttonAlignment === 'left') {
                    this.placeholderStyles = {
                        'left': `${uploadButtonPadding}px`,
                        'right': this.hasSuccess || this.hasError ? '42px' : '12px'
                    };
                    return;
                }

                this.placeholderStyles = {
                    'right': `${uploadButtonPadding}px`,
                    'left': this.hasSuccess || this.hasError ? '42px' : '12px'
                };
            },
            updateFiles() {
                const localFiles = Array.from(this.$refs.input.files);
                this.$emit('change', localFiles);
                this.setInputPlaceholder(localFiles);
            },
            validateInput() {
                if (!this.isRequired) {
                    this.hasError = false;
                    this.hasSuccess = this.files && this.files.length > 0;
                    return;
                }

                this.hasError = !this.files || this.files.length <= 0;
                this.hasSuccess = !this.hasError;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-file {
        box-sizing: border-box;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;

        &:hover {
            cursor: pointer;

            + .c2-file-label {
                background-color: #2b6cb0;
                box-shadow: 0 10px 15px -2px rgba(0, 0, 0, .1), 0px 4px 6px -2px rgba(0, 0, 0, .05);
            }
        }
    }

    .c2-file-label {
        -webkit-user-select: none;
        align-items: center;
        background-color: #2c5282;
        box-shadow: 0 0 0 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        height: 100%;
        justify-content: center;
        outline: none;
        padding: 12px 16px;
        position: absolute;
        text-transform: uppercase;
        transition: background-color ease-in-out .3s, box-shadow ease-in-out .3s;
        white-space: nowrap;

        &:hover {
            background-color: #2b6cb0;
            box-shadow: 0 10px 15px -2px rgba(0, 0, 0, .1), 0px 4px 6px -2px rgba(0, 0, 0, .05);
        }

        &:not(.left-alignment) {
            right: 0;
        }

        &.left-alignment {
            left: 0;
        }
    }

    .c2-file-placeholder {
        color: #000;
        display: block;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 50%;
        transform: translateY(-50%);
        transition: color ease-in-out .3s;
        white-space: nowrap;

        &.is-default-placeholder {
            color: #6b7280;
        }
    }

    .c2-file-upload-wrapper {
        background-color: #e5e7eb;
        border: 1px solid transparent;
        box-shadow: 0 0 0 0;
        box-sizing: border-box;
        display: block;
        height: 56px;
        position: relative;
        transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;
        width: 100%;

        &.has-focus {
            border-color: #5a67d8;
            box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.5);

            &.input-error {
                box-shadow: 0 0 0 3px rgba(197, 48, 48, 0.25);
            }

            &.input-success {
                box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.25);
            }
        }

        &.input-error {
            border-color: #c53030;

            .error-icon {
                display: block;
            }
        }

        &.input-success {
            border-color: #38a169;

            .success-icon {
                display: block;
            }
        }
    }

    .error-icon,
    .success-icon {
        display: none;
        position: absolute;
        top: 52%;
        transform: translateY(-50%);

        &:not(.right-alignment) {
            left: 12px;
        }

        &.right-alignment {
            right: 12px;
        }
    }

    .file-upload-header {
        font-size: 1rem;
        margin-bottom: 8px;
        margin-top: 0;
    }
</style>
