<template>
    <div class="primary-nav" ref="primaryNav">
        <div class="nav-content">
            <c2-list
                class="primary-links"
                :class="[
                    {
                        'has-utility-links': hasUtilityLinks
                    }
                ]"
                v-if="hasNavLinks"
                :list-style="listStyle">
                <c2-list-item
                    class="nav-list-item"
                    :class="[
                        {
                            'item-active': navItem.isActive && hasNestedLinks(navItem)
                        }
                    ]"
                    v-for="(navItem, index) in navLinks"
                    :key="`navItem-${index}`">
                    <c2-with-root :show="hasNestedLinks(navItem)">
                        <div class="nav-link">
                            <div class="link-wrapper">
                                <c2-link
                                    v-if="!hasNestedLinks(navItem)"
                                    class="nav-link-anchor"
                                    :href="navItem.url"
                                    :target="navItem.linkTarget"
                                    :rel="navItem.isExternalLink ? 'noopener noreferrer' : ''"
                                    :class="[
                                        {
                                            'external-link': navItem.isExternalLink
                                        }
                                    ]">
                                    {{ navItem.label }}
                                    <span
                                        class="external-link-icon"
                                        v-if="navItem.isExternalLink && externalLinkSvg && !hasNestedLinks(navItem)"
                                        v-html="externalLinkSvg">
                                    </span>
                                </c2-link>
                                <button
                                    class="nested-panel-link"
                                    v-if="hasNestedLinks(navItem)"
                                    @click="setActiveSecondaryMenu(index)">
                                    <span class="nav-arrow-label">{{ navItem.label }}</span>
                                    <span class="nav-arrow">
                                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.22139 8L1.72139 15.5L0.671387 14.45L7.12139 8L0.671387 1.55L1.72139 0.5L9.22139 8Z" fill="#1A202C"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </c2-with-root>
                    <c2-mega-secondary-nav
                        v-if="hasNestedLinks(navItem)"
                        v-show="navItem.isActive"
                        :external-link-svg="externalLinkSvg"
                        :menu-open="menuOpen"
                        :toggle-menu="toggleMenu"
                        :primary-nav-size="primaryNavSize"
                        :nav-links="navItem.nestedLinks"
                        :nav-title-link="navItem.url"
                        :nav-title="navItem.label"
                        @close-secondary-menus="closeMenus">
                    </c2-mega-secondary-nav>
                </c2-list-item>
            </c2-list>
        </div>
    </div>
</template>

<script>
    import { C2List, C2ListItem } from '../c2-list';
    import C2MegaSecondaryNav from './c2-mega-secondary-nav.vue';
    import { C2Link } from '../c2-link';
    import C2WithRoot from '../c2-with-root/c2-with-root.vue';

    /**
     * @property {Object} navItem.nestedLinks
     * @property {string} navItem.nestedTitle
     */
    export default {
        name: 'C2MegaPrimaryNav',
        components: {
            C2List: C2List,
            C2ListItem: C2ListItem,
            C2Link: C2Link,
            C2MegaSecondaryNav: C2MegaSecondaryNav,
            C2WithRoot: C2WithRoot
        },
        props: {
            externalLinkSvg: {
                type: String,
                default: null
            },
            menuOpen: {
                type: Boolean,
                required: true
            },
            hasUtilityLinks: {
                type: Boolean,
                required: true
            },
            navLinks: {
                type: Array,
                default: null,
                validator: value => {
                    if (!value) {
                        return true;
                    } else if (!Array.isArray(value)) {
                        return false;
                    }

                    value.forEach((item) => {
                        if (!item || !item.url || !item.label) {
                            return false;
                        }
                    });

                    return true;
                }
            },
            toggleButtonCloseIcon: {
                type: String,
                default: null
            },
            toggleMenu: {
                type: Function,
                required: true
            }
        },
        data() {
            return {
                listStyle: 'none',
                primaryNavSize: 0
            };
        },
        created() {
            window.addEventListener('resize', this.getPrimaryNavWidth);
        },
        destroyed() {
            window.removeEventListener('resize', this.getPrimaryNavWidth);
            document.documentElement.classList.remove('menu-open');
        },
        computed: {
            hasNavLinks() {
                return this.navLinks && Array.isArray(this.navLinks) && this.navLinks.length > 0;
            }
        },
        methods: {
            closeMenus() {
                this.navLinks.forEach((item) => {
                    item.isActive = false;
                });

                this.$emit('closing-menu');

                this.$nextTick(() => {
                    document.dispatchEvent(new CustomEvent('matchheight', {}));
                });
            },
            hasNestedLinks(navItem) {
                return navItem.nestedLinks && Array.isArray(navItem.nestedLinks) && navItem.nestedLinks.length > 0;
            },
            getPrimaryNavWidth() {
                if (window.matchMedia('(max-width: 1023px)').matches) {
                    this.primaryNavSize = 0;
                    return;
                }

                const primaryNavOffset = this.$refs.primaryNav.getBoundingClientRect().x;
                const primaryNavParent = this.$refs.primaryNav.parentNode;
                const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;

                if (primaryNavParent.scrollHeight > primaryNavParent.clientHeight) {
                    this.primaryNavSize = primaryNavParent.clientWidth + scrollbarWidth + primaryNavOffset;
                    return;
                }

                this.primaryNavSize = primaryNavParent.clientWidth + primaryNavOffset;
            },
            setActiveSecondaryMenu(index) {
                let openingMenu = false;

                this.navLinks.forEach((item, i) => {
                    item.isActive = !item.isActive && index === i;

                    if (item.isActive) {
                        openingMenu = true;
                    }
                });

                if (openingMenu) {
                    this.$emit('opening-menu');
                } else {
                    this.$emit('closing-menu');
                }

                this.getPrimaryNavWidth();
                this.$nextTick(() => {
                    document.dispatchEvent(new CustomEvent('matchheight', {}));
                });
            }
        },
        watch: {
            menuOpen () {
                this.$nextTick(() => {
                    this.getPrimaryNavWidth();
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .link-wrapper {
        width: 100%;
    }

    .nav-arrow {
        align-items: center;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: center;
        padding: 0;
        width: 24px;
    }

    .nav-link {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-right: 16px;
    }

    .nav-list-item {
        padding: 0 32px;

        ::v-deep .c2-link {
            color: #1a202c;
            font-family: Arial, serif;
            font-size: 24px;
            line-height: 30px;
            text-decoration: none;

            @media (min-width: 1440px) {
                font-size: 32px;
                line-height: 36px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        @media (min-width: 1024px) {
            padding: 0 16px;
        }

        @media (min-width: 1440px) {
            padding-left: 72px;
            padding-right: 43px;
        }
    }


    .nested-panel-link {
        align-items: center;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        font-weight: normal;
        justify-content: space-between;
        padding: 0;
        text-align: left;
        text-transform: none;
        width: 100%;

        .nav-arrow-label {
            font-family: Arial, serif;
            font-size: 24px;
            line-height: 30px;

            @media (min-width: 1440px) {
                font-size: 32px;
                line-height: 36px;
            }
        }
    }

    .primary-nav {
        box-sizing: border-box;

        @media (min-width: 1024px) {
            max-width: 340px;
        }

        @media (min-width: 1440px) {
            max-width: 400px;
        }
    }
</style>
