<template>
    <div
        v-click-outside="closeMenu"
        v-match-height="{
            el: ['.menu-nav-panel'],
            disabled: [1024]
        }"
        class="mega-menu"
        :class="[
            {
                'menu-open': menuOpen
            }
        ]">
        <button
            class="mega-menu-toggle"
            @click="toggleMenu"
            v-show="!menuOpen"
            aria-label="Toggle Mega Menu"
        >
            <slot name="toggleButtonOpenIcon">
                <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 13H2v1h14v-1zm0-5H2v1h14V8zm0-5H2v1h14V3z" fill-rule="nonzero" fill-opacity="1" fill="#000" stroke="none"></path>
                </svg>
            </slot>
            <span class="label">{{ menuButtonLabel }}</span>
        </button>
        <div
            class="mega-menu-content"
            :class="[
                {
                    'inactive-panel': primaryMenuOpen
                }
            ]"
            v-show="menuOpen"
        >
            <div class="menu-close-section">
                <div class="mobile-close-content">
                    <slot name="mobileCloseContent"></slot>
                </div>
                <c2-link href="/">
                    <c2-image
                        class="logo-image"
                        v-if="logoImage"
                        :src="logoImage"
                        :alt="logoImageTitle"
                        :width="logoImageWidth"
                        :height="logoImageHeight"
                    >
                    </c2-image>
                </c2-link>
                <button
                    class="mega-menu-toggle close-btn"
                    v-show="menuOpen"
                    @click="toggleMenu">
                    <slot name="toggleButtonCloseIcon">
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2587 1.05L11.2139 0L6.28857 4.95L1.3632 0L0.31842 1.05L5.24379 6L0.31842 10.95L1.3632 12L6.28857 7.05L11.2139 12L12.2587 10.95L7.33334 6L12.2587 1.05Z" fill="black"/>
                        </svg>
                    </slot>
                </button>
            </div>
            <span class="nav-title" v-if="navTitle">{{ navTitle }}</span>
            <div class="navigation-items menu-nav-panel">
                <c2-mega-primary-nav
                    v-if="hasNavLinks"
                    @opening-menu="openingPrimaryMenu"
                    @closing-menu="closingPrimaryMenu"
                    :external-link-svg="externalLinkSvg"
                    :has-utility-links="hasUtilityLinks"
                    :menu-open="menuOpen"
                    :toggle-menu="toggleMenu"
                    :nav-links="navLinks">
                </c2-mega-primary-nav>
                <c2-mega-utility-nav
                    v-if="hasUtilityLinks"
                    :external-link-svg="externalLinkSvg"
                    :utility-links="utilityLinks">
                </c2-mega-utility-nav>
            </div>
        </div>
    </div>
</template>

<script>
    import { C2Image } from '../c2-image';
    import C2MegaPrimaryNav from './c2-mega-primary-nav.vue';
    import C2MegaUtilityNav from './c2-mega-utility-nav.vue';
    import { C2Link } from '../c2-link';
    import { C2ClickOutside, C2MatchHeight } from '../../directives';

    export default {
        name: 'C2MegaMenu',
        components: {
            C2Link: C2Link,
            C2Image: C2Image,
            C2MegaPrimaryNav: C2MegaPrimaryNav,
            C2MegaUtilityNav: C2MegaUtilityNav
        },
        directives: {
            ClickOutside: C2ClickOutside,
            MatchHeight: C2MatchHeight
        },
        created() {
            // Close menu with 'esc' key
            document.addEventListener('keydown', (e) => {
                if (e.keyCode === 27 && this.menuOpen ) {
                    this.menuOpen = false;
                    this.$emit('close-menu');
                }
            });
        },
        mounted() {
            this.$emit('menu-mounted');
        },
        destroyed() {
            document.documentElement.classList.remove('menu-open');
            document.removeEventListener('keydown');
        },
        data() {
            return {
                menuOpen: this.menuOpened,
                primaryMenuOpen: false
            };
        },
        watch: {
            menuOpen (isOpen) {
                if (isOpen) {
                    document.documentElement.classList.add('menu-open');
                    this.$emit('open-menu');
                    return;
                }

                document.documentElement.classList.remove('menu-open');
                this.$emit('close-menu');
            },
            menuOpened () {
                this.menuOpen = this.menuOpened;
            }
        },
        computed: {
            hasNavLinks() {
                return this.navLinks && Array.isArray(this.navLinks) && this.navLinks.length > 0;
            },
            hasUtilityLinks() {
                return this.utilityLinks && Array.isArray(this.utilityLinks) && this.utilityLinks.length > 0;
            }
        },
        methods: {
            closeMenu() {
                document.documentElement.classList.remove('menu-open');
                this.$emit('close-menu');
            },
            closingPrimaryMenu() {
                this.primaryMenuOpen = false;
            },
            openingPrimaryMenu() {
                this.primaryMenuOpen = true;
            },
            toggleMenu() {
                this.menuOpen = !this.menuOpen;
                this.$nextTick(() => {
                    document.dispatchEvent(new CustomEvent('matchheight', {}));
                });
            }
        },
        props: {
            externalLinkSvg: {
                type: String,
                default: null
            },
            logoImage: {
                type: String,
                default: null
            },
            logoImageHeight: {
                type: Number
            },
            logoImageTitle:{
                type: String,
                default: null
            },
            logoImageWidth: {
                type: Number
            },
            mainNavTitle: {
                type: String,
                default: 'Main Menu'
            },
            menuButtonLabel: {
                type: String,
                default: 'Menu'
            },
            menuOpened: {
                type: Boolean,
                default: false
            },
            navLinks: {
                type: Array,
                default: null,
                validator: value => {
                    if (!value) {
                        return true;
                    } else if (!Array.isArray(value)) {
                        return false;
                    }

                    value.forEach((item) => {
                        if (!item || !item.url || !item.label) {
                            return false;
                        }
                    });

                    return true;
                }
            },
            navTitle: {
                type: String,
                default: 'Main Menu'
            },
            utilityLinks: {
                type: Array,
                default: null,
                validator: value => {
                    if (!value) {
                        return true;
                    } else if (!Array.isArray(value)) {
                        return false;
                    }

                    value.forEach((item) => {
                        if (!item || !item.url || !item.label) {
                            return false;
                        }
                    });

                    return true;
                }
            },
            alt: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style lang="scss">
    html {
        &.menu-open {
            @media (max-width: 1023px) {
                overflow: hidden;
            }
        }
    }
</style>

<style lang="scss" scoped>
    .logo-image {
        height: 48px;
        width: 160px;

        &::v-deep {
            .c2-image {
                height: 100%;
                width: 100%;
            }
        }

        @media (max-width: 1023px) {
            display: none;
        }
    }

    .mega-menu {
        position: relative;

        &.menu-open {
            border-bottom: 1px solid #e2e8f0;

            @media (max-width: 1023px) {
                height: 100vh;
            }
        }

        @media (min-width: 1024px) {
            max-height: 100vh;
            overflow: hidden;
        }
    }

    .mega-menu-content {
        background-color: #EDF2F7;
        padding-bottom: 40px;

        @media (max-width: 1023px) {
            box-sizing: border-box;
            height: 100%;
            overflow: auto;
            overflow-x: hidden;

            &.inactive-panel {
                overflow: hidden;
            }
        }

        @media (min-width: 1024px) {
            padding-bottom: 64px;
        }

        @media (min-width: 1440px) {
            padding-bottom: 103px;
        }
    }

    .mega-menu-toggle {
        align-items: center;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        height: 25px;
        text-transform: uppercase;

        &.close-btn {
            height: 48px;
            justify-content: center;
            padding: 0;
            width: 48px;

            svg,
            .svg {
                height: 12px;
                margin: 0;
                width: 12px;
            }

            @media (max-width: 1023px) {
                position: absolute;
                right: 16px;
                top: 12px;
            }
        }

        svg,
        .svg {
            height: 18px;
            margin-right: 5px;
            width: 18px;
        }

        .label {
            margin-top: 1px;
        }
    }

    .menu-close-section {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @media (max-width: 1023px) {
            margin-bottom: 45px;
            min-height: 48px;
            position: relative;
        }

        @media (min-width: 1024px) {
            max-width: 340px;
            padding: 16px 16px 0;
        }

        @media (min-width: 1440px) {
            max-width: 400px;
            padding-left: 72px;
            padding-right: 43px;
            padding-top: 16px;
        }
    }

    .mobile-close-content {
        display: none;

        &:empty {
            display: none;
        }

        @media (max-width: 1023px){
            display: block;
        }
    }

    .nav-title {
        display: block;
        font-family: Arial, serif;
        font-size: 14px;
        line-height: 12px;
        margin-bottom: 32px;
        text-transform: uppercase;

        @media (max-width: 1023px) {
            padding: 0 32px;
        }

        @media (min-width: 1024px) {
            padding: 0 16px;
        }

        @media (min-width: 1440px) {
            margin-bottom: 36px;
            padding-left: 72px;
            padding-right: 43px;
        }
    }

    .navigation-items {
        box-sizing: border-box;

        @media (min-width: 1024px) {
            max-height: calc(100vh - 156px);
            max-width: 340px;
            overflow-y: auto;
        }

        @media (min-width: 1440px) {
            max-width: 400px;
        }
    }
</style>
