<template>
    <div
        class="secondary-nav"
        :style="styles"
        :class="[
            {
                'inactive-panel': !isActivePanel
            }
        ]">
        <button
            type="button"
            class="back-button"
            @click="closeSecondaryMenus">
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 8L8 0.5L9.05 1.55L2.6 8L9.05 14.45L8 15.5L0.5 8Z" fill="black"/>
            </svg>
        </button>
        <button
            class="mega-menu-toggle close-btn"
            v-show="menuOpen"
            @click="toggleMenu">
            <slot
                name="toggleButtonIcon"
                v-if="toggleButtonCloseIcon"
                v-html="toggleButtonCloseIcon">
            </slot>
            <svg v-if="!toggleButtonCloseIcon" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2587 1.05L11.2139 0L6.28857 4.95L1.3632 0L0.31842 1.05L5.24379 6L0.31842 10.95L1.3632 12L6.28857 7.05L11.2139 12L12.2587 10.95L7.33334 6L12.2587 1.05Z" fill="black"/>
            </svg>
        </button>
        <a class="nav-title" :href="navTitleLink">{{ navTitle }}</a>
        <div class="nav-content">
            <c2-list class="secondary-list menu-nav-panel" v-if="hasNavLinks" :list-style="listStyle" ref="secondaryNav">
                <c2-list-item
                    :class="[
                        {
                            'item-active': navItem.isActive && hasNestedLinks(navItem)
                        }
                    ]"
                    v-for="(navItem, index) in navLinks"
                    :key="`navItem-${index}`">
                    <c2-with-root :show="hasNestedLinks(navItem)">
                        <div class="nav-link">
                            <c2-link
                                v-if="!hasNestedLinks(navItem)"
                                :href="navItem.url"
                                :target="navItem.linkTarget"
                                :rel="navItem.isExternalLink ? 'noopener noreferrer' : ''"
                                :class="[
                                    {
                                        'external-link': navItem.isExternalLink
                                    }
                                ]">
                                {{ navItem.label }}
                                <span
                                    class="external-link-icon"
                                    v-if="navItem.isExternalLink && externalLinkSvg && !hasNestedLinks(navItem)"
                                    v-html="externalLinkSvg">
                                </span>
                            </c2-link>
                            <button
                                class="nested-panel-link"
                                v-if="hasNestedLinks(navItem)"
                                @click="setActiveTertiaryMenu(index)">
                                <span class="nav-arrow-label">{{ navItem.label }}</span>
                                <span class="nav-arrow">
                                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.22139 8L1.72139 15.5L0.671387 14.45L7.12139 8L0.671387 1.55L1.72139 0.5L9.22139 8Z" fill="#1A202C"/>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </c2-with-root>
                    <c2-mega-tertiary-nav
                        v-if="hasNestedLinks(navItem)"
                        v-show="navItem.isActive"
                        :external-link-svg="externalLinkSvg"
                        :menu-open="menuOpen"
                        :toggle-menu="toggleMenu"
                        :secondary-nav-size="secondaryNavSize"
                        :nav-links="navItem.nestedLinks"
                        :nav-title-link="navItem.url"
                        :nav-title="navItem.label"
                        @close-tertiary-menus="closeMenus">
                    </c2-mega-tertiary-nav>
                </c2-list-item>
            </c2-list>
        </div>
    </div>
</template>

<script>
    import { C2List, C2ListItem } from '../c2-list';
    import C2MegaTertiaryNav from './c2-mega-tertiary-nav.vue';
    import { C2Link } from '../c2-link';
    import C2WithRoot from '../c2-with-root/c2-with-root.vue';

    /**
     * @property {Object} navItem.nestedLinks
     * @property {string} navItem.nestedTitle
     */
    export default {
        name: 'C2MegaSecondaryNav',
        components: {
            C2List: C2List,
            C2ListItem: C2ListItem,
            C2Link: C2Link,
            C2MegaTertiaryNav: C2MegaTertiaryNav,
            C2WithRoot: C2WithRoot
        },
        created() {
            window.addEventListener('resize', this.getSecondaryNavWidth);
        },
        destroyed() {
            window.removeEventListener('resize', this.getSecondaryNavWidth);
            document.documentElement.classList.remove('menu-open');
        },
        data() {
            return {
                isActivePanel: true,
                listStyle: 'none',
                secondaryNavSize: 0
            };
        },
        watch: {
            menuOpen () {
                this.getSecondaryNavWidth();
            }
        },
        methods: {
            closeSecondaryMenus() {
                this.$emit('close-secondary-menus');
                this.$nextTick(() => {
                    document.dispatchEvent(new CustomEvent('matchheight', {}));
                });
            },
            closeMenus() {
                this.navLinks.forEach((item) => {
                    item.isActive = false;
                });

                this.$nextTick(() => {
                    document.dispatchEvent(new CustomEvent('matchheight', {}));
                });

                this.isActivePanel = true;
            },
            hasNestedLinks(navItem) {
                return navItem.nestedLinks && Array.isArray(navItem.nestedLinks) && navItem.nestedLinks.length > 0;
            },
            getSecondaryNavWidth() {
                if (window.matchMedia('(max-width: 1023px)').matches) {
                    this.secondaryNavSize = 0;
                    return;
                }

                const secondaryNav = this.$refs.secondaryNav.$el;
                const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;

                if (secondaryNav.scrollHeight > secondaryNav.clientHeight) {
                    this.secondaryNavSize = secondaryNav.clientWidth + scrollbarWidth;
                    return;
                }

                this.secondaryNavSize = secondaryNav.clientWidth;
            },
            setActiveTertiaryMenu(index) {
                this.navLinks.forEach((item, i) => {
                    item.isActive = !item.isActive && index === i;
                });

                this.$nextTick(() => {
                    document.dispatchEvent(new CustomEvent('matchheight', {}));
                });

                this.getSecondaryNavWidth();
                this.isActivePanel = false;
            }
        },
        computed: {
            hasNavLinks() {
                return this.navLinks && Array.isArray(this.navLinks) && this.navLinks.length;
            },
            styles() {
                return {
                    'left': `${this.primaryNavSize}px`,
                };
            }
        },
        props: {
            externalLinkSvg: {
                type: String,
                default: null
            },
            menuOpen: {
                type: Boolean,
                required: true
            },
            navLinks: {
                type: Array,
                default: null,
                validator: value => {
                    if (!value) {
                        return true;
                    } else if (!Array.isArray(value)) {
                        return false;
                    }

                    value.forEach((item) => {
                        if (!item || !item.url || !item.label) {
                            return false;
                        }
                    });

                    return true;
                }
            },
            navTitleLink: {
                type: String,
                required: true
            },
            navTitle: {
                type: String,
                required: true
            },
            primaryNavSize: {
                type: Number
            },
            toggleButtonCloseIcon: {
                type: String,
                default: null
            },
            toggleMenu: {
                type: Function,
                required: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    .back-button {
        align-items: center;
        background: transparent;
        border: 0;
        display: flex;
        height: 48px;
        left: 16px;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 12px;
        width: 48px;

        @media (min-width: 1024px) {
            display: none;
        }
    }

    .close-btn {
        align-items: center;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: none;
        height: 48px;
        justify-content: center;
        padding: 0;
        text-transform: uppercase;
        width: 48px;

        svg,
        .svg {
            height: 12px;
            margin: 0;
            width: 12px;
        }

        @media (max-width: 1023px) {
            display: flex;
            position: absolute;
            right: 16px;
            top: 12px;
        }
    }

    .c2-list-item {
        padding: 0 32px;

        .c2-link {
            display: inline-block;
            font-size: 20px;
            line-height: 25px;

            @media (min-width: 1440px) {
                font-size: 24px;
                line-height: 30px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 26px;

            @media (max-width: 1023px) {
                margin-bottom: 32px;
            }
        }

        @media (min-width: 1024px) {
            padding: 0 16px;
        }

        @media (min-width: 1440px) {
            padding-left: 58px;
            padding-right: 80px;
        }
    }

    .nav-arrow {
        align-items: center;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: center;
        padding: 0;
        width: 24px;

        @media (max-width: 1023px) {
            right: 15px;
        }
    }

    .nav-link {
        padding-right: 19px;
        position: relative;
    }

    .nav-title {
        box-sizing: border-box;
        display: block;
        font-family: Arial, serif;
        font-size: 14px;
        margin-bottom: 48px;
        padding: 0 32px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }

        @media (min-width: 1024px) {
            margin-bottom: 36px;
            max-width: 325px;
            padding: 0 16px;
        }

        @media (min-width: 1440px) {
            max-width: 420px;
            padding-left: 58px;
            padding-right: 80px;
        }
    }

    .nested-panel-link {
        align-items: center;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        font-weight: normal;
        justify-content: space-between;
        padding: 0;
        text-align: left;
        text-transform: none;
        width: 100%;

        .nav-arrow-label {
            font-family: Arial, serif;
            font-size: 20px;
            line-height: 25px;

            @media (min-width: 1440px) {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

    .secondary-list {
        @media (min-width: 1024px) {
            max-height: calc(100vh - 156px);
            max-width: 325px;
            overflow-y: auto;
        }

        @media (min-width: 1440px) {
            max-width: 420px;
        }
    }

    .secondary-nav {
        background-color: white;
        box-sizing: border-box;
        bottom: 0;
        overflow: hidden;
        right: 0;
        padding-top: 104px;
        position: absolute;
        top: 0;
		z-index: 1;

        @media (max-width: 1023px) {
            height: 100%;
            max-height: 100vh;
            overflow: auto;
            overflow-x: hidden;
            padding-bottom: 64px;
            padding-top: 93px;

            &.inactive-panel {
                overflow: hidden;
            }
        }
    }
</style>
