<template>
    <div class="utility-nav">
        <c2-list v-if="hasUtilityLinks" :list-style="listStyle">
            <c2-list-item v-for="(utilityItem, index) in utilityLinks" :key="`utilityItem-${index}`">
                <c2-link
                    :href="utilityItem.url"
                    :target="utilityItem.linkTarget"
                    :rel="utilityItem.isExternalLink ? 'noopener noreferrer' : ''"
                    :class="[
                        utilityItem.cssClass,
                        {
                            'external-link': utilityItem.isExternalLink,
                            'only-mobile': utilityItem.onlyMobile
                        }
                    ]">
                    {{ utilityItem.label }}
                    <span
                        class="external-link-icon"
                        v-if="utilityItem.isExternalLink && externalLinkSvg"
                        v-html="externalLinkSvg">
                    </span>
                </c2-link>
            </c2-list-item>
        </c2-list>
    </div>
</template>

<script>
    import { C2List, C2ListItem } from '../c2-list';
    import { C2Link } from '../c2-link';

    export default {
        name: 'C2MegaUtilityNav',
        components: {
            C2List: C2List,
            C2ListItem: C2ListItem,
            C2Link: C2Link
        },
        destroyed() {
            document.documentElement.classList.remove('menu-open');
        },
        data() {
            return {
                listStyle: 'none'
            };
        },
        computed: {
            hasUtilityLinks() {
                return this.utilityLinks && Array.isArray(this.utilityLinks) && this.utilityLinks.length > 0;
            }
        },
        props: {
            externalLinkSvg: {
                type: String,
                default: null
            },
            utilityLinks: {
                type: Array,
                default: null,
                validator: value => {
                    if (!value) {
                        return true;
                    } else if (!Array.isArray(value)) {
                        return false;
                    }

                    value.forEach((item) => {
                        if (!item || !item.url || !item.label) {
                            return false;
                        }
                    });

                    return true;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .utility-nav {
        box-sizing: border-box;
        margin-top: 52px;

        ::v-deep .c2-link {
            align-items: center;
            color: black;
            display: flex;
            font-family: Arial, serif;
            font-size: 16px;
            line-height: 20px;
            text-decoration: none;

            @media (max-width: 1023px) {
                margin-bottom: 20px;
            }

            @media (min-width: 1024px) {
                height: 40px;

                &.only-mobile {
                    display: none;
                }
            }

            @media (min-width: 1440px) {
                font-size: 18px;
                height: 56px;
                line-height: 24px;
            }
        }

        @media (max-width: 1023px) {
            margin-top: 66px;
            padding: 0 32px;
        }

        @media (min-width: 1024px) {
            max-width: 340px;
            padding: 0 16px;
        }

        @media (min-width: 1440px) {
            max-width: 400px;
            padding-left: 72px;
            padding-right: 43px;
        }
    }
</style>
