<template>
    <div class="tertiary-nav" :style="styles">
        <button
            type="button"
            class="back-button"
            @click="closeTertiaryMenus">
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 8L8 0.5L9.05 1.55L2.6 8L9.05 14.45L8 15.5L0.5 8Z" fill="black"/>
            </svg>
        </button>
        <button
            class="mega-menu-toggle close-btn"
            v-show="menuOpen"
            @click="toggleMenu">
            <slot
                name="toggleButtonIcon"
                v-if="toggleButtonCloseIcon"
                v-html="toggleButtonCloseIcon">
            </slot>
            <svg v-if="!toggleButtonCloseIcon" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2587 1.05L11.2139 0L6.28857 4.95L1.3632 0L0.31842 1.05L5.24379 6L0.31842 10.95L1.3632 12L6.28857 7.05L11.2139 12L12.2587 10.95L7.33334 6L12.2587 1.05Z" fill="black"/>
            </svg>
        </button>
        <a class="nav-title" :href="navTitleLink">{{ navTitle }}</a>
        <div class="nav-content">
            <c2-list class="tertiary-list menu-nav-panel" v-if="hasNavLinks" :list-style="listStyle">
                <c2-list-item v-for="(navItem, index) in navLinks" :key="`navItem-${index}`">
                    <c2-link
                        :rel="navItem.isExternalLink ? 'noopener noreferrer' : ''"
                        :href="navItem.url"
                        :target="navItem.linkTarget"
                        :class="[
                            {
                                'external-link': navItem.isExternalLink
                            }
                        ]"
                    >
                        {{ navItem.label }}
                        <span
                            class="external-link-icon"
                            v-if="navItem.isExternalLink && externalLinkSvg"
                            v-html="externalLinkSvg"
                        >
                        </span>
                    </c2-link>

                </c2-list-item>
            </c2-list>
        </div>
    </div>
</template>

<script>
    import { C2List, C2ListItem } from '../c2-list';
    import { C2Link } from '../c2-link';

    export default {
        name: 'C2MegaTertiaryNav',
        components: {
            C2List: C2List,
            C2ListItem: C2ListItem,
            C2Link: C2Link
        },
        destroyed() {
            document.documentElement.classList.remove('menu-open');
        },
        data() {
            return {
                listStyle: 'none'
            };
        },
        methods: {
            closeTertiaryMenus() {
                this.$emit('close-tertiary-menus');

                this.$nextTick(() => {
                    document.dispatchEvent(new CustomEvent('matchheight', {}));
                });
            }
        },
        computed: {
            hasNavLinks() {
                return this.navLinks && Array.isArray(this.navLinks) && this.navLinks.length > 0;
            },
            styles() {
                return {
                    'left': `${this.secondaryNavSize}px`
                };
            }
        },
        props: {
            externalLinkSvg: {
                type: String,
                default: null
            },
            menuOpen: {
                type: Boolean,
                required: true
            },
            navLinks: {
                type: Array,
                default: null,
                validator: value => {
                    if (!value) {
                        return true;
                    } else if (!Array.isArray(value)) {
                        return false;
                    }

                    value.forEach((item) => {
                        if (!item || !item.url || !item.label) {
                            return false;
                        }
                    });

                    return true;
                }
            },
            navTitleLink: {
                type: String,
                required: true
            },
            navTitle: {
                type: String,
                required: true
            },
            secondaryNavSize: {
                type: Number
            },
            toggleButtonCloseIcon: {
                type: String,
                default: null
            },
            toggleMenu: {
                type: Function,
                required: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    .back-button {
        align-items: center;
        background: transparent;
        border: 0;
        display: flex;
        height: 48px;
        left: 16px;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 12px;
        width: 48px;

        @media (min-width: 1024px) {
            display: none;
        }
    }

    .close-btn {
        align-items: center;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: none;
        height: 48px;
        justify-content: center;
        padding: 0;
        text-transform: uppercase;
        width: 48px;

        svg,
        .svg {
            height: 12px;
            margin: 0;
            width: 12px;
        }

        @media (max-width: 1023px) {
            display: flex;
            position: absolute;
            right: 16px;
            top: 12px;
        }
    }

    .nav-title {
        display: block;
        font-family: Arial, serif;
        font-size: 14px;
        margin-bottom: 48px;
        padding: 0 32px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }

        @media (min-width: 1024px) {
            margin-bottom: 36px;
            padding: 0 16px;
        }

        @media (min-width: 1440px) {
            padding-left: 58px;
            padding-right: 43px;
        }
    }

    .tertiary-list {
        .c2-list-item {
            padding: 0 32px;

            .c2-link {
                font-size: 18px;
                line-height: 24px;
            }

            &:not(:last-child) {
                margin-bottom: 32px;
            }

            @media (min-width: 1024px) {
                padding: 0 16px;
            }

            @media (min-width: 1440px) {
                padding-left: 58px;
                padding-right: 32px;
            }
        }

        @media (min-width: 1023px) {
            max-height: calc(100vh - 156px);
            overflow-y: auto;
        }
    }

    .tertiary-nav {
        background-color: white;
        border-left: 1px solid #e2e8f0;
        bottom: 0;
        box-sizing: border-box;
        right: 0;
        padding-top: 104px;
        position: absolute;
        top: 0;
        z-index: 1;

        @media (max-width: 1023px) {
            height: 100%;
            max-height: 100vh;
            overflow: auto;
            overflow-x: hidden;
            padding-bottom: 64px;
            padding-top: 93px;
        }
    }
</style>
