<template>
    <section class="c2-site-alert" :class="alertType" v-if="alertOpen">
        <div class="site-alert-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32">
                <path fill="none" d="M14.875,11h2.25V21h-2.25ZM16,27a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,16,27Z"/>
                <path d="M29.8872,28.5386l-13-25a1,1,0,0,0-1.7744,0l-13,25A1,1,0,0,0,3,30H29a1,1,0,0,0,.8872-1.4614ZM14.875,11h2.25V21h-2.25ZM16,27a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,16,27Z"/>
                <rect fill="none" width="32" height="32"/>
            </svg>
        </div>
        <div class="site-alert-main">
            <h6 class="site-alert-title">{{ alertTitle }}</h6>
            <div class="c2-site-alert-content">
                <slot></slot>
            </div>
        </div>
        <button class="site-alert-close" type="button" @click="closeSiteAlert">
            <svg height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <polygon fill="#000" points="24 9.4 22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4"/>
                <rect fill="none" width="12" height="12"/>
            </svg>
        </button>
    </section>
</template>

<script>
    export default {
        name: 'C2SiteAlert',
        props: {
            alertActive: {
                type: Boolean,
                default: false
            },
            alertTitle: {
                type: String,
                required: true
            },
            alertType: {
                type: String,
                required: true,
                default: 'info',
                validator: value => {
                    return value === 'info' ||
                           value === 'warning' ||
                           value === 'danger';
                }
            }
        },
        data() {
            return {
                alertOpen: this.alertActive
            };
        },
        methods: {
            closeSiteAlert() {
                this.alertOpen = false;
                this.$emit('close-site-alert');
            }
        },
        watch: {
            alertActive () {
                this.alertOpen = this.alertActive;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-site-alert {
        display: flex;
        padding: 16px 121px 16px 74px;
        position: relative;

        &.danger {
            background-color: #fff5f5;
        }

        &.info {
            background-color: #e6fffa;
        }

        &.warning {
            background-color: #fffaf0;
        }

        @media (max-width: 1023px) {
            padding: 16px 56px 16px 18px;
        }
    }

    .c2-site-alert-content {
        a,
        b,
        abbr,
        blockquote,
        cite,
        code,
        dd,
        dt,
        dl,
        em,
        figcaption,
        figure,
        h2,
        h3,
        h4,
        h5,
        h6,
        li,
        mark,
        ol,
        p,
        pre,
        q,
        s,
        samp,
        small,
        span,
        strong,
        sup,
        time,
        u,
        ul,
        var,
        wbr {
            font-family: Arial, serif;

            .danger & {
                color: #9b2c2c;
            }

            .info & {
                color: #285e61;
            }

            .warning & {
                color: #9c4221;
            }
        }
    }

    .site-alert-close {
        align-items: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: center;
        outline: 0;
        padding: 0;
        position: absolute;
        right: 72px;
        top: 16px;
        width: 24px;

        polygon {
            height: 12px;
            width: 12px;

            .danger & {
                fill: #c53030;
            }

            .info & {
                fill: #285e61;
            }

            .warning & {
                fill: #9c4221;
            }
        }

        @media (max-width: 1023px) {
            right: 16px;
        }
    }

    .site-alert-icon {
        margin-right: 26px;

        path {
            &:nth-child(2) {
                .danger & {
                    fill: #c53030;
                }

                .info & {
                    fill: #2c7a7b;
                }

                .warning & {
                    fill: #c05621;
                }
            }
        }

        svg {
            height: 20px;
            width: 20px;
        }
    }

    .site-alert-title {
        font-family: Arial, serif;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 4px;
        margin-top: 0;

        .danger & {
            color: #c53030;
        }

        .info & {
            color: #2c7a7b;
        }

        .warning & {
            color: #c05621;
        }

        @media (max-width: 1023px) {
            margin-bottom: 10px;
        }
    }
</style>
