<template>
    <nav
        class="c2-breadcrumbs"
        :aria-label="accessibilityIdentifier"
    >
        <slot></slot>
    </nav>
</template>

<script>
    export default {
        name: 'C2Breadcrumbs',
        data() {
            return {
                accessibilityIdentifier: this.ariaLabel ? this.ariaLabel : 'Breadcrumbs'
            }
        },
        props: {
            ariaLabel: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style lang="scss" scoped>

    .c2-breadcrumbs {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
    }

</style>
