<template>
    <div class="c2-breadcrumb-item"
        :class="[{
            [`${internalCurrentClass}`] : isCurrent,
            'home': isHome
        }]"
    >
        <c2-with-root :show="!isCurrent">
            <a
                :href="href"
                :target="target"
                :aria-label="isHome ? 'Home Page' : ''"
                :aria-current="isCurrent ? 'page' : undefined"
            >
                <slot
                    name="icon"
                    v-if="isHome"
                >
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.305 1.105C8.12328 0.961401 7.86672 0.961401 7.685 1.105L0.5 6.71L1.12 7.5L2 6.81V13C2 13.5523 2.44772 14 3 14H13C13.5523 14 14 13.5523 14 13V6.815L14.88 7.5L15.5 6.715L8.305 1.105ZM9 13H7V9H9V13ZM10 13V9C10 8.44772 9.55229 8 9 8H7C6.44772 8 6 8.44772 6 9V13H3V6.03L8 2.135L13 6.035V13H10Z" fill="black"/>
                    </svg>
                </slot>

                <slot name="text"></slot>
            </a>
        </c2-with-root>
        <span
            class="divider"
            v-if="!isCurrent"
            aria-hidden="true"
        >
            <slot name="divider">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 5L1 10L0.300003 9.3L4.6 5L0.300003 0.7L1 0L6 5Z" fill="black"/>
                </svg>
            </slot>
        </span>

    </div>
</template>

<script>
    import C2WithRoot from '../c2-with-root/c2-with-root.vue';

    export default {
        name: 'C2BreadcrumbItem',
        components: {
            C2WithRoot: C2WithRoot
        },
        props: {
            currentClass: {
                type: String,
                default: ''
            },
            isCurrent: {
                type: Boolean,
                default: false
            },
            isHome: {
                type: Boolean,
                default: false
            },
            href: {
                type: String,
                default: '',
                required: true
            },
            target: {
                type: String,
                default: '_self',
                validator: value => {
                    return value === '_blank' ||
                           value === '_self' ||
                           value === '_parent' ||
                           value === '_top';
                }
            }
        },
        data() {
            return {
                internalCurrentClass: this.currentClass ? this.currentClass : 'current'
            }
        }
    }
</script>

<style lang="scss" scoped>

    .c2-breadcrumb-item {
        display: inline-flex;
        margin: 0 0 8px;

        .divider {
            padding: 0 16px;
        }
    }

</style>
