<template>
    <component
        :is="listType"
        :style="styles"
        :class="[
            {
                'horizontal-list' : isHorizontalList,
                'vertical-list': isVerticalList,
                'no-padding': listStyle === 'none'
            }
        ]"
        class="c2-list">
        <slot></slot>
    </component>
</template>

<script>
    export default {
        name: 'C2List',
        computed: {
            listType() {
                return this.ordered ? 'ol' : 'ul'
            },
            isHorizontalList() {
                return this.alignment === 'horizontal';
            },
            isVerticalList() {
                return this.alignment === 'vertical';
            },
            styles() {
                const listStyleType = this.ordered ? 'decimal' : this.listStyle;

                return {
                    'list-style-type': this.isHorizontalList ? 'none' : listStyleType
                }
            }
        },
        props: {
            alignment: {
                type: String,
                default: 'vertical',
                validator: value => {
                    return value === 'horizontal' ||
                           value === 'vertical';
                }
            },
            ordered: {
                type: Boolean,
                default: false
            },
            listStyle: {
                type: String,
                default: 'disc',
                validator: value => {
                    return value === 'none' ||
                           value === 'circle' ||
                           value === 'square' ||
                           value === 'disc' ||
                           value === 'decimal';
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .horizontal-list {
        align-items: stretch;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;

        ::v-deep li {
            flex: 0 1 auto;
        }
    }

    .no-padding {
        padding: 0;
    }

    .vertical-list {
        margin: 0;
    }
</style>
