<template>
    <li
        class="c2-list-item"
        @click="activateItem"
        :disabled="isDisabled"
        :class="[
            {
                [`${activeClass}`] : isActive
            }
        ]">
        <slot></slot>
    </li>
</template>

<script>
    export default {
        name: 'C2ListItem',
        data() {
            return {
                isActive: false
            }
        },
        methods: {
            activateItem() {
                this.isActive = !this.isActive;
            }
        },
        props: {
            isDisabled: {
                type: Boolean,
                default: false
            },
            activeClass: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style scoped>

</style>
