<template>
    <div 
        v-if="thumbnails.length > 0"
        :class="{ 'has-thumbnails': thumbnails.length > 1 }"
        class="c2-product-gallery" 
        >
        <div class="c2-product-gallery-thumbnails-wrapper">
            <ul v-if="thumbnails.length > 1" class="c2-product-gallery-thumbnails">
                <li
                    v-for="(item, index) in thumbnails"
                    :key="index"
                    class="c2-product-gallery-item"
                >
                    <button 
                        class="c2-btn-product-gallery-thumbnail"
                        :class="{ 'active': index === activeIndex }"
                        @click="loadAsset(item.featuredSrc, item.alt, item.type); updateIndex(index)"
                    >
                        <span class="icon" v-if="item.type">
                            <slot name="play-icon"></slot>
                        </span>
                        <img :src="item.thumbnailSrc" :alt="item.alt">
                    </button>
                </li>
            </ul>
        </div>

        <div class="c2-product-gallery-placeholder">
            <img 
                v-if="!isVideo" 
                class="c2-product-gallery-featured-image" 
                :src="featuredSrc" 
                :alt="featuredAlt"
            >
            
            <video 
                v-if="isVideo"
                :autoplay="autoplay"
                controls
                class="c2-product-gallery-featured-video"
            >
                <source :src="featuredSrc" :type="`video/${type}`">
            </video>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'C2ProductGallery',
        props: {
            thumbnails: {
                type: Array,
                default() {
                    return []
                }
            },
            autoplayVideos: {
                type: Boolean,
                default() {
                    return true;
                } 
            }
        },
        data() {
            return {
                activeIndex: 0,
                featuredAlt: null,
                featuredSrc: null,
                isVideo: null,
                type: null
            }
        },
        computed: {
            autoplay() {
                if (this.autoplayVideos) {
                    return 'autoplay';
                }
                return null;
            }
        },
        methods: {
            loadAsset(src, alt, type) {

                if (type) {
                    this.type = type;
                    this.isVideo = true;
                    this.featuredSrc = src;
                    this.featuredAlt = null;
                } else {
                    this.type = null
                    this.isVideo = false;
                    this.featuredSrc = src;
                    this.featuredAlt = alt;
                }
            },
            updateIndex(index) {
                this.activeIndex = index;
            }
        },
        mounted () {
            
            if (this.thumbnails.length > 0) {

                this.loadAsset(
                    this.thumbnails[0].featuredSrc,
                    this.thumbnails[0].featuredAlt,
                    this.thumbnails[0].type
                );
            }
        }
    }
</script>

<style lang="scss" scoped>

    .c2-product-gallery {
        width: 100%;
        max-width: 630px;
        aspect-ratio: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;

        .c2-product-gallery-thumbnails-wrapper {
            position: absolute;
            top: 24px;
            left: 24px;
            bottom: 24px;
            overflow: hidden;
            width: 72px;
        }

        .c2-product-gallery-thumbnails {
            padding: 0 17px 0 0; // add 17px for scrollbar
            box-sizing: content-box; // change to content box for 100% width plus 17px/hide scrollbar in overflow
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow: auto;

            svg {
                height: 24px;
                width: 24px;
            }
        }

        .c2-product-gallery-item {
            margin: 0 0 8px;
        }

        .c2-btn-product-gallery-thumbnail {
            border: 2px solid transparent;
            margin: 0;
            padding: 0;
            height: 72px;
            width: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background: transparent;
            position: relative;

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 28px;
                width: 28px;
            }

            img {
                height: 56px;
                width: 56px;
                margin: 0;
                padding: 0;
            }
        }

        .c2-product-gallery-featured-video,
        .c2-product-gallery-featured-image {
            width: 100%;
            max-width: 382px;
            height: auto;
        }

        .c2-product-gallery-placeholder {
            width: calc(100% - 48px);
            padding-left: 24px;
            padding-right: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.has-thumbnails {
            
            .c2-product-gallery-placeholder {
                padding-left: 122px;
            }
        }
    }
</style>