<template>
    <div class="genevieve-playground">
        <div
            style="width: 200px; height: 200px; background: lightblue"
            v-touch:left="leftSwipe"
        >
            Swipe me!
        </div>

        <h2>Input Example</h2>

        <input
            type="text"
            v-money="{
                symbol: '£',
                decimal: '.',
                thousand: '.',
                precision: 2,
                format: '%s%v',
            }"
        />

        <input type="text" v-money />

        <h2>Line Clamp Example</h2>

        <p v-line-clamp="2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h2>Dropdown Menu Example</h2>

        <c2-dropdown-menu
            :options="options"
            :firstActive="0"
            :autoClose="true"
            menuPosition="position-bottom"
            menuLabel="My dropdown"
        >
            <span slot="dropdownIcon">
                <svg
                    width="7"
                    height="12"
                    viewBox="0 0 7 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M0.75 0.75L6.75 6L0.75 11.25V0.75Z"
                    />
                </svg>
            </span>
        </c2-dropdown-menu>

        <br /><br />

        <h2>Breadcrumbs Example</h2>

        <c2-breadcrumbs ariaLabel="breadcrumbs" v-resize:300="resizeMe">
            <c2-breadcrumb-item :isHome="true" href="/" target="_blank">
                <span slot="text" class="sr-only">Home</span>
            </c2-breadcrumb-item>

            <c2-breadcrumb-item href="#" target="_self">
                <span slot="text">Breadcrumb</span>
            </c2-breadcrumb-item>

            <c2-breadcrumb-item href="#" target="_self">
                <span slot="text">Child</span>
            </c2-breadcrumb-item>

            <c2-breadcrumb-item href="#" :isCurrent="true">
                <span slot="text">Current Page</span>
            </c2-breadcrumb-item>
        </c2-breadcrumbs>

        <br /><br />

        <h2>Accordion Example</h2>

        <c2-accordion>
            <h2 slot="title">My title</h2>
            <template slot="content">
                <c2-accordion-item :is-open="isOpen" v-click-outside="close">
                    <h3 slot="title">My inside title</h3>
                    <div slot="content">Lorem ipsum dolor sit amet</div>
                </c2-accordion-item>
            </template>
        </c2-accordion>

        <br /><br />

        <h2>Card Slider Example</h2>

        <c2-slider
            :cards-to-show="3"
            :cards-to-show-tablet="2"
            :cards-to-show-mobile="1"
            :card-speed="500"
            :gutter="12"
            :show-overflow="true"
            :hide-indicators="false"
        >
            <c2-card
                v-for="(linkCard, index) in linkCardItems"
                :key="`linkCardItem-${index}`"
                slot="card"
                :image-url="linkCard.image"
                :alt="linkCard.title"
                :title="linkCard.title"
                :is-new="linkCard.isNew"
                :is="linkCard.cardType"
                :href="linkCard.friendlyUrl"
                :description="linkCard.description"
                :target="linkCard.target"
            >
                <div slot="header">
                    <img
                        :src="linkCard.image"
                        alt="original alt"
                        v-image-fallback="{
                            src: 'https://picsum.photos/400/300',
                            alt: 'new alt',
                        }"
                    />
                </div>
                <div slot="body">
                    <h2>{{ linkCard.title }}</h2>
                    <div>{{ linkCard.description }}</div>
                </div>
            </c2-card>

            <div slot="extraButton">Extra Button</div>

            <!-- <span class="button-label sr-only" slot="previousText" v-if="carouselActivated">
                Previous Slide
            </span>
            <span class="button-icon" slot="previousIcon" v-if="carouselActivated">
                <img svg-inline src="svg/arrow-left.svg" />
            </span>

            <span class="button-label sr-only" slot="nextText" v-if="carouselActivated">
                Next Slide
            </span>
            <span class="button-icon" slot="nextIcon" v-if="carouselActivated">
                <img svg-inline src="svg/arrow-right.svg" />
            </span> -->
        </c2-slider>

        <button v-focus="(focused = true)">Focus on me!</button>
    </div>
</template>

<script>
export default {
    name: "GenevievePlayground",
    data() {
        return {
            linkCardItems: [
                {
                    title: "card 1",
                    cardType: "div",
                    description: "Lorem ipsum dolor sit amet",
                    image: "https://picsum.photos/300/200/10",
                },
                {
                    title: "card 2",
                    cardType: "div",
                    description: "Lorem ipsum dolor sit amet",
                    image: "https://picsum.photos/300/200",
                },
                {
                    title: "card 3",
                    cardType: "div",
                    description: "Lorem ipsum dolor sit amet",
                    image: "https://picsum.photos/300/200",
                },
            ],
            isOpen: true,
            options: [
                {
                    name: "All",
                    id: 0,
                },
                {
                    name: "Menu Item 1",
                    id: 1234,
                },
                {
                    name: "Menu Item 2",
                    id: 2345,
                },
                {
                    name: "Menu Item 3",
                    id: 3456,
                },
            ],
            focused: true,
        };
    },
    methods: {
        close() {
            //console.log('close me');
            this.isOpen = false;
        },
        resizeMe() {
            //console.log('window resized');
        },
        leftSwipe() {
            console.log("swiped left");
        },
    },
};
</script>

<style scoped>
.genevieve-playground {
    padding: 50px;
    font-family: sans-serif;
}

button:focus {
    outline: 3px solid red;
}
</style>
