<template>
    <div class="ryan-playground">
        <!--<div class="parent-container">
            <c2-accordion :description="testDescription">
                <h2 slot="title">TITLE HERE</h2>
                <template slot="content">
                    <c2-accordion-item :is-open="true">
                        <h2 slot="title">First Item</h2>
                        <p class="paragraph-content" slot="content">Content goes here</p>
                    </c2-accordion-item>
                    <c2-accordion-item>
                        <h2 slot="title">Second Item</h2>
                        <p class="paragraph-content" slot="content">Content goes here</p>
                    </c2-accordion-item>
                    <c2-accordion-item>
                        <h2 slot="title">Third Item</h2>
                        <p class="paragraph-content" slot="content">Content goes here</p>
                    </c2-accordion-item>
                    <c2-accordion-item>
                        <h2 slot="title">Fourth Item</h2>
                        <p class="paragraph-content" slot="content">Content goes here</p>
                    </c2-accordion-item>
                </template>
            </c2-accordion>-->
        <!--<c2-list :ordered="isOrdered" :listStyle="listStyle" :alignment="alignment">
                <c2-list-item>First Item</c2-list-item>
                <c2-list-item>Second Item</c2-list-item>
                <c2-list-item>Third Item</c2-list-item>
            </c2-list>
        </div>-->
        <!--<c2-image :alt="altText" :src="imageSource" :aspect-ratio="aspectRatio"></c2-image>-->
        <!--<c2-link :href="testLink" :target="testTarget" :disabled="isDisabled">GOGLLES</c2-link>-->
        <!--<c2-hero-banner :max-height="maxHeight" :background-overlay="backgroundOverlay" :background-image="imageSource" :content-position="contentPosition">
            <h1 style="color: white;"><a href="https://www.google.com">Test Content</a></h1>
        </c2-hero-banner>-->
        <c2-mega-menu :logo-image="imageSource" :nav-links="megaMenu" :utility-links="utilityLinks"></c2-mega-menu>
    </div>
</template>

<script>
    export default {
        name: 'RyanPlayground',
        data() {
            return {
                backgroundColor: '#000000',
                backgroundOverlay: 'rgba(0,0,0,.8)',
                maxHeight: '140px',
                contentPosition: 'inside',
                testTitle: 'TEST TITLE HERE',
                testDescription: 'TEST DESCRIPTION HERE',
                testLink: 'https://www.google.com',
                testTarget: '_self',
                isDisabled: false,
                imageSource: 'https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png',
                altText: 'random alt text',
                aspectRatio: '3/2',
                isOrdered: false,
                listStyle: 'none',
                alignment: 'vertical',
                utilityLinks: [
                    {
                        url: 'www.google.com',
                        label: 'About'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Contact'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Lorem Ipsum'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    },
                    {
                        url: 'www.google.com',
                        label: 'Dolor Set'
                    }
                ],
                megaMenu: [
                    {
                        url: 'www.primaryone.com',
                        label: 'Primary One',
                        isActive: false,
                        nestedLinks: [
                            {
                                url: 'www.secondaryone.com',
                                label: 'Secondary Test',
                                isActive: false,
                                nestedLinks: [
                                    {
                                        url: 'www.thirdone.com',
                                        label: 'Third AWesome'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third blahblah'
                                    }
                                ]
                            },
                            {
                                url: 'www.secondarytwo.com',
                                label: 'Secondary Two',
                                isActive: false,
                                nestedLinks: [
                                    {
                                        url: 'www.thirdone.com',
                                        label: 'Third superduper'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third reset'
                                    }
                                ]
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            }
                        ]
                    },
                    {
                        url: 'www.primarytwo.com',
                        label: 'Primary Two',
                        isActive: false,
                        nestedLinks: [
                            {
                                url: 'www.secondaryone.com',
                                label: 'Secondary wallaba',
                                isActive: false,
                                nestedLinks: [
                                    {
                                        url: 'www.thirdone.com',
                                        label: 'Third fastandfurious'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third again'
                                    }
                                ]
                            },
                            {
                                url: 'www.secondarytwo.com',
                                label: 'Secondary grab',
                                isActive: false,
                                nestedLinks: [
                                    {
                                        url: 'www.thirdone.com',
                                        label: 'Third doop'
                                    },
                                    {
                                        url: 'www.thirdtwo.com',
                                        label: 'Third room'
                                    }
                                ]
                            },
                            {
                                url: 'www.secondarythree.com',
                                label: 'Secondary Three',
                                isActive: false
                            }
                        ]
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    },
                    {
                        url: 'www.primarythree.com',
                        label: 'Primary Three',
                        isActive: false
                    }
                ]
            };
        }
    }
</script>

<style scoped>
    .paragraph-content {
        margin: 0;
        padding: 32px 24px;
    }
</style>
