<template>
    <div class="mike-playground">
        <h1>Mike's Playground</h1>
        <c2-slider 
            class="slider"
            :slidesToShow="2"
        >
            <div class="slide" slot="slide">Slide 1</div>
            <div class="slide" slot="slide">Slide 2</div>
            <div class="slide" slot="slide">Slide 3</div>
            <div class="slide" slot="slide">Slide 4</div>
            <div class="slide" slot="slide">Slide 5</div>
            <div class="slide" slot="slide">Slide 6</div>
            <div class="slide" slot="slide">Slide 7</div>
        </c2-slider>
    </div>
</template>

<script>
import C2Slider from '../../src/components/c2-slider/c2-slider.vue';
    export default {
        name: 'MikePlayground',  
        components: { C2Slider },
        data() {
            return {
                
            };
        },
        methods: {
            
        }
    }
</script>

<style lang="scss" scoped>

    .mike-button {
        background: #bada55;
        color: #333;
    }

    .slider {
        margin: 1500px 0;
    }

    .slide {
        width: 500px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
        cursor: pointer;
    }

</style>
