<template>
    <div class="ryan-playground" id="ryan-playground">
        <c2-date-picker></c2-date-picker>
    </div>
</template>

<script>
    export default {
        name: 'RyanPlayground',
        data() {
            return {
                backgroundColor: '#000000',
                backgroundOverlay: 'rgba(0,0,0,.8)',
                maxHeight: '140px',
                contentPosition: 'inside',
                testFiles: [],
                testTitle: 'Choose an option',
                testDescription: 'TEST DESCRIPTION HERE',
                testLink: 'https://www.google.com',
                testTarget: '_self',
                isDisabled: true,
                externalLinkSvg: '<svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                    '<path fill-rule="evenodd" clip-rule="evenodd" d="M9.05 14.45L3.35 8.75H21.5V7.25H3.35L9.05 1.55L8 0.5L0.5 8L8 15.5L9.05 14.45Z" fill="white"/>\n' +
                    '</svg>\n',
                imageSource: 'https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png',
                altText: 'random alt text',
                aspectRatio: '3/2',
                isOrdered: true,
                listStyle: 'none',
                alignment: 'vertical',
                submissionComment: '',
                utilityLinks: [
                    {
                        url: 'www.google.com',
                        label: 'Sample Block Pages'
                    }
                ]
            };
        },
        methods: {
            actionChange(val) {
                console.log(val);
            }
        }
    }
</script>

<style lang="scss">
</style>
