<template>
    <div style="height: 2000px; background: grey; padding: 24px;">
        <div class="left-col" style="position: sticky; top: 0; height: 170px; background-color: white; width: 100%;">
            <button 
                v-for="(item, index) in items"
                :key="index"
                v-scrollTo="{
                    target: `#${item.id}`,
                    offset: 170
                }"
                :class="{ 'active': index === activeIndex }"
            >
                {{ item.id }}
            </button>
        </div>
        <div class="right-col" style="height: 200px;">
            some content here...
        </div>
        <div 
            ref="sections"
            v-for="(item, index) in items"
            :key="index"
            :id="item.id" 
            style="height: 200px"
            :style="`background-color: ${item.background}`"
        >
            {{ item.id }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'VincePlayground',
        data() {
            return {
                activeIndex: null,
                items: [
                    { id: 'One', background: 'red' },
                    { id: 'Two', background: 'blue' },
                    { id: 'Three', background: 'yellow' }
                ]
            }
        },
        methods: {
            sectionIsActive() {
                const sectionsTotal = this.$refs.sections.length - 1;
                const offset = 170;

                this.$refs.sections.forEach((section, i) => {
                    var rect = section.getBoundingClientRect();
                    var top = rect.top;
                    var bottom = rect.bottom;

                    if (i === 0) {
                        console.log(offset);
                        console.log(top);
                        console.log(bottom);
                    }

                    if (top <= offset && bottom > offset) {
                        console.log('true');
                        console.log(i);
                        this.activeIndex = i;
                    }

                    if (this.activeIndex === 0 && i === 0 && top > offset) {
                        this.activeIndex = null;
                    }

                    if (this.activeIndex === sectionsTotal && i === sectionsTotal && bottom < offset) {
                        this.activeIndex = null;
                    }
                });
            }
        },
        mounted () {
            window.addEventListener('scroll', () => {
                this.sectionIsActive();
            })
        }
    }
</script>

<style lang="scss" scoped>

    button {

        &.active {
            color: red;
        }
    }

    .product-gallery {
        background: #fff;
        border-radius: 12px;

        &::v-deep {

            .c2-btn-product-gallery-thumbnail {
                border: 2px solid;
                border-color: transparent;
                transition: 0.3s border-color;
                border-radius: 8px;

                img {
                    border-radius: 6px;
                }

                &.active {
                    border-color: #A8A29E;
                }
            }
        }

    }
</style>
