<template>
    <div class="c2-modal" :style="cssVars">
        <button 
            v-if="hasOpenBtn"
            class="btn-open-modal" 
            :class="btnOpenClass" 
            @click="openModal"
        >
            <slot name="btn-open-text">
                <span></span>
            </slot>
            <slot name="btn-open-icon"></slot>
            <slot name="btn-open-hover-icon"></slot>
        </button>

        <div class="overlay" :class="{ open: open }"></div>

        <div class="modal-wrapper" :class="{ open: open }" :aria-hidden="[!open]">
            <div class="modal-header">
                <slot name="title"></slot>
                <button
                    class="btn-close"
                    :class="btnCloseClass"
                    :tabindex="tabIndex"
                    @click="closeModal"
                >
                    <slot name="btn-close-text"></slot>
                    <slot name="btn-close-icon"></slot>
                </button>
            </div>
            <div class="modal-body">
                <slot name="content"></slot>
            </div>
            <div class="modal-footer" v-if="hasFooter">
                <button
                    class="btn-cancel"
                    :class="btnCancelClass"
                    :tabindex="tabIndex"
                    @click="closeModal"
                >
                    <slot name="btn-cancel-text"></slot>
                    <slot name="btn-cancel-icon"></slot>
                    <slot name="btn-cancel-hover-icon"></slot>
                </button>
                <button
                    class="submit"
                    :class="btnSubmitClass"
                    v-if="showSubmitButton"
                    :tabindex="tabIndex"
                    @click="submitModal"
                    :disabled="disableSubmitButton"
                >
                    <slot name="btn-submit-text"></slot>
                    <slot name="btn-submit-icon"></slot>
                    <slot name="btn-submit-hover-icon"></slot>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'C2Modal',
        props: {
            backgroundColor: {
                type: String,
                default: 'rgba(0,0,0,0.7)'
            },
            btnCancelClass: {
                type: String,
                default: ''
            },
            btnCloseClass: {
                type: String,
                default: ''
            },
            btnOpenClass: {
                type: String,
                default: ''
            },
            btnSubmitClass: {
                type: String,
                default: ''
            },
            forceClose: {
                type: Boolean
            },
            hasFooter: {
                type: Boolean,
                default: true
            },
            hasOpenBtn: {
                type: Boolean,
                default: true
            },
            maxWidth: {
                type: Number,
                default: 1024
            },
            showSubmitButton: {
                type: Boolean,
                default: false
            },
            disableSubmitButton: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                open: false,
                tabIndex: -1
            }
        },
        computed: {
            cssVars () {
                return {
                    '--c2ModalBackgroundColor': this.backgroundColor,
                    '--c2ModalMaxWidth': `${Math.abs(this.maxWidth)}px`
                }
            }
        },
        methods: {
            openModal() {
                this.open = true;
                this.tabIndex = 0;
                this.$emit('modalOpened');
            },
            closeModal() {
                this.open = false;
                this.tabIndex = -1;
                this.$emit('modalClosed');
            },
            submitModal() {
                this.$emit('submitModal');
            }
        },
        watch: {
            forceClose() {
                this.open = this.forceClose;

                if (!this.open){
                    this.tabIndex = 0;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-modal {

        .overlay {
            position: fixed;
            z-index: 9998;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--c2ModalBackgroundColor);
            display: table;
            transition: opacity 0.3s ease;
            opacity: 0;
            visibility: hidden;

            &.open {
                opacity: 1;
                visibility: visible;
            }
        }

        .modal-wrapper {
            position: fixed;
            z-index: 9998;
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: var(--c2ModalMaxWidth);
            max-height: 100vh;
            overflow: auto;
            background-color: #fff;
            transition: transform 0.3s ease, opacity 0.3s ease;
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;

            &.open {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }

        .btn-open-modal {
            display: flex;
            align-items: center;
        }

        .btn-close {
            background-color: transparent;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0 0 0 24px;
            border: 0;
            cursor: pointer;
        }

        .modal-header {
            padding: 24px;
            display: flex;
            justify-content: space-between;
        }

        .modal-title {
            margin: 0;
            padding: 0;
        }

        .modal-body {
            padding: 32px;
        }

        .modal-footer {
            padding: 0 24px 8px;
        }
    }
</style>
