<template>
    <component :is="cardType" :class="cardClass" :href="href">
        <div class="card-header" v-if="hasHeaderSlot">
            <slot name="header"></slot>
        </div>
        <div class="card-body" v-if="hasBodySlot">
            <slot name="body"></slot>
        </div>
    </component>
</template>

<script>
    import C2Link from '../c2-link/c2-link.vue';

    export default {
        name: 'C2Card',
        props: {
            href: {
                type: String,
                default: null
            }
        },
        components: {
            C2Link: C2Link
        },
        computed: {
            cardClass() {
                return this.href ? 'c2-card-link' : 'c2-card';
            },
            cardType() {
                return this.href ? 'c2-link' : 'div';
            },
            hasBodySlot() {
                return !!this.$slots.body;
            },
            hasHeaderSlot() {
                return !!this.$slots.header;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-card {
        border-radius: 3px;
        overflow: hidden;
    }

    .c2-card-link {
        border: 1px solid #EDF2F7;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: block;
        margin: 10px;

        &:hover {
            transition-property: box-shadow;
            transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
            transition-duration: 250ms;
            box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05),   0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        }
    }

    .card-body {
        padding: 24px 24px 16px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .card-header {
        padding: 0;
    }
</style>
