<!-- Used inside c2-form to group components together such as checkboxes and radio buttons -->

<template>
    <fieldset class="c2-form-group">
        <legend class="c2-form-group-label">
            <slot name="label"></slot>
        </legend>
        <slot name="content"></slot>
    </fieldset>
</template>

<script>
    export default {
        name: 'C2FormGroup'
    }
</script>

<style lang="scss" scoped>
    .c2-form-group {
        margin-bottom: 16px;
    }

    .c2-form-group-label {
        display: inline-block;
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 8px;
        vertical-align: baseline;
    }
</style>
