<!-- Used inside c2-form (not inside c2-form-group) to provide styling -->

<template>
    <div class="c2-form-item">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'C2FormItem'
    }
</script>

<style lang="scss" scoped>
    .c2-form-item {
        align-items: flex-start;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
    }
</style>
