<template>
    <div class="c2-select">
        <label
            :for="uid"
            class="c2-select-label"
            :class="[
                {
                    'label-hidden': hideLabel,
                    'label-disabled': $attrs.disabled,
                    'label-invalid': isInvalid
                }
            ]"
        >
            {{ label }}
        </label>
        <div
            class="c2-select-input-wrapper"
            :data-invalid="isInvalid"
        >
            <select
                v-bind="$attrs"
                :id="uid"
                class="c2-select-input"
                :class="[
                    {
                        'select-invalid': isInvalid,
                        'select-disabled': $attrs.disabled
                    }
                ]"
                v-on="inputListeners"
                ref="select"
                :value="internalValue"
            >
                <slot name="items"></slot>
            </select>
            <span class="c2-select-arrow">
                <slot name="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0.3 10 5.7">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 5.99999L0 0.999988L0.7 0.299988L5 4.59999L9.3 0.299988L10 0.999988L5 5.99999Z" fill="#718096"/>
                    </svg>
                </slot>
            </span>
        </div>
        <div v-if="isInvalid" class="c2-select-invalid-message">{{ invalidMessage }}</div>
        <div v-if="!isInvalid && isHelper" class="c2-select-helper-message">{{ helperMessage }}</div>
    </div>
</template>

<script>
    import { uidMixin } from '../../mixins';

    export default {
        name: 'C2Select',
        inheritAttrs: false,
        mixins: [
            uidMixin
        ],
        props: {
            errorMessage: {
                type: String,
                default: null
            },
            helperMessage: {
                type: String,
                default: null
            },
            hideLabel: {
                type: Boolean
            },
            invalidMessage: {
                type: String,
                default: null
            },
            label: {
                type: String,
                required: true
            },
            value: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                dataValue: null,
                isHelper: false,
                isInvalid: false
            }
        },
        mounted() {
            if (this.value) {
                this.checkStatus();
                return;
            }

            const options = this.$el.querySelectorAll('option');
            for (let i = 0; i < options.length; i++) {
                if (!options[i].attributes.selected) {
                    continue;
                }

                this.dataValue = options[i].value;
            }

            this.checkStatus();
        },
        updated() {
            this.checkStatus();
        },
        watch: {
            value() {
                if (this.value) {
                    return;
                }

                // this is needed to ensure selected for an option when no value is supplied
                const options = this.$el.querySelectorAll('option');
                for (let i = 0; i < options.length; i++) {
                    if (!options[i].attributes.selected) {
                        continue;
                    }

                    this.dataValue = options[i].value;
                }
            }
        },
        model: {
            prop: 'value',
            event: 'change'
        },
        computed: {
            // Bind listeners at the component level to the embedded input element and
            // add our own input listener to service the v-model. See:
            // https://vuejs.org/v2/guide/components-custom-events.html#Customizing-Component-v-model
            inputListeners() {
                return {
                    ...this.$listeners,
                    input: event => this.$emit('input', event.target.value),
                    change: event => this.$emit('change', event.target.value)
                };
            },
            internalValue() {
                return this.dataValue ? this.dataValue : this.value;
            }
        },
        methods: {
            checkStatus () {
                this.isInvalid = !!(this.invalidMessage && this.invalidMessage.length);
                this.isHelper = !!(this.helperMessage && this.helperMessage.length);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-select {
        .c2-select-arrow {
            align-items: center;
            display: flex;
            height: 16px;
            justify-content: center;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;

            svg {
                height: 5.7px;
                width: 10px;
            }
        }

        .c2-select-input {
            -moz-appearance: none;
            -webkit-appearance: none;
            background-color: #edf2f7;
            border: 1px solid transparent;
            box-sizing: border-box;
            color: rgba(#1a202c, .6);
            display: block;
            font-size: 16px;
            height: 48px;
            padding: 12px 48px 12px 16px;
            transition: border-color ease-in-out .3s, color ease-in-out .3s;
            width: 100%;

            &.select-disabled {
                cursor: not-allowed;
            }

            &.select-invalid {
                border: 1px solid #cf3030;
                color: #c53030;

                &:focus {
                    box-shadow: 0 0 0 3px rgba(197, 48, 48, .25);
                }
            }

            &::-ms-expand {
                display: none;
            }

            &:active {
                outline: 0;
            }

            &:focus {
                border: 1px solid #667eea;
                box-shadow: 0 0 0 3px rgba(102, 126, 234, .5);
                outline: 0;
            }
        }

        .c2-select-input-wrapper {
            position: relative;
        }

        .c2-select-invalid-message,
        .c2-select-helper-message {
            font-size: 12px;
            line-height: 16px;
            margin-top: 8px;
        }

        .c2-select-helper-message {
            color: #1a202c;
        }

        .c2-select-invalid-message {
            color: #c53030;
        }

        .c2-select-label {
            color: #1a202c;
            display: block;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 8px;
            transition: color ease-in-out .3s;

            &.label-disabled {
                opacity: .6;
            }

            &.label-hidden {
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            &.label-invalid {
                color: #c53030;
            }
        }
    }
</style>
