<template>
    <option class="c2-select-item">
        <slot></slot>
    </option>
</template>

<script>
    export default {
        name: 'C2SelectOption'
    }
</script>

<style lang="scss" scoped>

</style>
