<template>
    <optgroup class="c2-select-optgroup">
        <slot></slot>
    </optgroup>
</template>

<script>
    export default {
        name: 'C2SelectOptgroup'
    }
</script>

<style lang="scss" scoped>

</style>
