<template>
    <nav
        :aria-label="navLabel"
        class="c2-primary-nav"
        ref="primaryNav"
        :class="[
            {
                'sticky-nav': navSticky
            }
        ]"
    >
        <c2-container
            :class-name="containerClassName"
            :max-width="containerMaxWidth"
            :container-gutter-width="containerGutterSize"
        >
            <div class="nav-logo">
                <slot name="nav-logo"></slot>
            </div>
            <div class="nav-items">
                <div class="lefthand-nav">
                    <slot name="lefthand-nav"></slot>
                </div>
                <div class="righthand-nav">
                    <slot name="righthand-nav"></slot>
                </div>
            </div>
        </c2-container>
    </nav>
</template>

<script>
    import { C2Container } from '../c2-grid';

    export default {
        name: 'C2PrimaryNav',
        components: {
            C2Container: C2Container
        },
        created() {
            if (!this.hasStickyNav || !this.hasShadowScroll) {
                return;
            }

            window.addEventListener('scroll', this.handleStickyScroll);
        },
        destroyed() {
            if (!this.hasStickyNav || !this.hasShadowScroll) {
                return;
            }

            window.removeEventListener('scroll', this.handleStickyScroll);
        },
        data() {
            return {
                hasShadowScroll: this.shadowScroll,
                hasStickyNav: this.navSticky
            }
        },
        props: {
            containerClassName: {
                type: String,
                default: null
            },
            containerMaxWidth: {
                type: String,
                default: '1440px'
            },
            containerGutterSize: {
                type: Number,
                default: 16
            },
            navLabel: {
                type: String,
                default: 'Primary Navigation'
            },
            navSticky: {
                type: Boolean,
                default: false
            },
            shadowScroll: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            handleStickyScroll: function() {
                if (!this.hasStickyNav || !this.hasShadowScroll) {
                    return;
                }

                const navPosition = this.$refs.primaryNav.getBoundingClientRect().y;
                const scrollPos = window.pageYOffset || window.scrollY || window.scrollTop || document.getElementsByTagName('html')[0].scrollTop;

                if (scrollPos === 0) {
                    this.$refs.primaryNav.classList.remove('shadow-scroll');
                    return;
                }
                else if (scrollPos > 0 && navPosition === 0) {
                    this.$refs.primaryNav.classList.add('shadow-scroll');
                    return;
                }

                this.$refs.primaryNav.classList.remove('shadow-scroll');
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-primary-nav {
        align-items: stretch;
        display: flex;
        min-height: 80px;

        &::v-deep {
            .c2-container {
                align-items: stretch;
                display: flex;
                flex-wrap: wrap;
            }
        }

        .nav-logo {
            align-items: center;
            display: flex;
        }

        .nav-items {
            align-items: stretch;
            display: flex;
            flex: 1 1 auto;
            flex-wrap: wrap;
            justify-content: space-between;

            .lefthand-nav,
            .righthand-nav {
                align-items: center;
                display: flex;
            }
        }

        &.shadow-scroll {
            box-shadow: 0 1px 10px #999;
        }

        &.sticky-nav {
            position: sticky;
            top: 0;
        }
    }
</style>
