<template>
    <nav class="c2-static-nav" :aria-label="navLabel">
        <c2-container
            :class-name="containerClassName"
            :max-width="containerMaxWidth"
            :container-gutter-width="containerGutterSize"
        >
            <div class="lefthand-nav">
                <slot name="lefthand-nav"></slot>
            </div>
            <div class="righthand-nav">
                <slot name="righthand-nav"></slot>
            </div>
        </c2-container>

    </nav>
</template>

<script>
    import { C2Container } from '../c2-grid';

    export default {
        name: 'C2StaticNav',
        components: {
            C2Container: C2Container
        },
        props: {
            containerClassName: {
                type: String,
                default: null
            },
            containerMaxWidth: {
                type: String,
                default: '1440px'
            },
            containerGutterSize: {
                type: Number,
                default: 16
            },
            navLabel: {
                type: String,
                default: 'Secondary Navigation'
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-static-nav {
        align-items: stretch;
        background-color: #f7fafc;
        display: flex;
        min-height: 48px;

        &::v-deep {
            .c2-container {
                align-items: stretch;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .lefthand-nav,
                .righthand-nav {
                    align-items: center;
                    display: flex;
                }
            }
        }
    }
</style>
