<template>
    <div
        class="c2-checkbox-input"
        :class="[
            {
                'input-disabled': inputDisabled,
                [`${disabledClass}`] : inputDisabled,
            }
        ]"
    >
        <input
            class="c2-checkbox"
            :id="uid"
            :value="value"
            :disabled="inputDisabled"
            :checked="shouldBeChecked"
            :aria-checked="`${shouldBeChecked}`"
            type="checkbox"
            @change="updateInput"
            v-bind="$attrs"
            @focus="onFocus"
            @blue="onBlur"
            ref="input"
        />
        <label class="c2-checkbox-label" :for="uid">
            <span class="c2-checkbox-icon">
                <slot name="checkbox-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="4 7.59 24 16.41">
                      <polygon points="13 24 4 15 5.414 13.586 13 21.171 26.586 7.586 28 9 13 24"/>
                      <rect fill="none" width="32" height="32"/>
                    </svg>
                </slot>
            </span>
            <span class="c2-checkbox-label-text">{{ label }}</span>
        </label>
    </div>
</template>

<script>
    import { uidMixin } from '../../mixins';

    export default {
        name: 'C2CheckboxInput',
        mixins: [
            uidMixin
        ],
        inheritAttrs: false,
        model: {
            prop: 'modelValue',
            event: 'change'
        },
        props: {
            disabledClass: {
                type: String,
                default: ''
            },
            isDisabled: {
                type: Boolean,
                default: false
            },
            label: {
                type: String,
                default: null
            },
            modelValue: {
                default: false
            },
            trueValue: {
                default: true
            },
            falseValue: {
                default: false
            },
            value: {
                type: [String, Boolean]
            }
        },
        data() {
            return {
                hasFocus: false
            };
        },
        computed: {
            inputDisabled() {
                const hasDisabledAttr = this.$attrs.disabled !== undefined && this.$attrs.disabled;

                return this.isDisabled || hasDisabledAttr;
            },
            shouldBeChecked() {
                if (this.modelValue instanceof Array) {
                    return this.modelValue.includes(this.value);
                }

                return this.modelValue === this.trueValue;
            }
        },
        methods: {
            onFocus() {
                this.hasFocus = true;
            },
            onBlur() {
                this.hasFocus = false;
            },
            updateInput(event) {
                const isChecked = event.target.checked;
                const isArray = this.modelValue instanceof Array;

                if (!isArray) {
                    this.$emit('change', isChecked ? this.trueValue : this.falseValue);
                    return;
                }

                if (isChecked) {
                    this.modelValue.push(this.value)
                    this.$emit('change', this.modelValue);
                    return;
                }

                const valueIndex = this.modelValue.indexOf(this.value);
                this.modelValue.splice(valueIndex, 1);
                this.$emit('change', this.modelValue);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-checkbox {
        border-radius: 2px;
        box-sizing: border-box;
        height: 18px;
        opacity: 0;
        vertical-align: middle;
        width: 18px;

        &:checked {
            + .c2-checkbox-label {
                .c2-checkbox-icon {
                    opacity: 1;
                }

                &::before {
                    background-color: #667eea;
                    border: 1px solid #667eea;
                }
            }
        }
    }

    .c2-checkbox-icon {
        left: -21px;
        opacity: 0;
        position: absolute;
        top: -2px;
        transition: opacity ease-in-out .3s;

        svg {
            fill: white;
            height: auto;
            width: 9px;
        }
    }

    .c2-checkbox-label {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        vertical-align: middle;

        &::before {
            background-color: white;
            border: 1px solid #cbd5e0;
            border-radius: 2px;
            box-sizing: border-box;
            content: '';
            display: block;
            height: 18px;
            left: -25px;
            position: absolute;
            top: 0;
            transition: background-color ease-in-out .3s;
            width: 18px;
        }
    }
</style>
