<template>
    <div class="c2-container" :class="className" :style="cssVars">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'C2Container',
        props: {
            className: {
                type: String,
                default: null
            },
            maxWidth: {
                type: String,
                default: '1440px'
            },
            containerGutterWidth: {
                type: Number,
                default: 16
            },
            mobileContainerGutterWidth: {
                type: Number,
                default: 16
            }
        },
        data() {
            return {
                maxW: this.maxWidth,
                gutterWidth: Math.abs(this.containerGutterWidth),
                mobileGutterWidth: Math.abs(this.mobileContainerGutterWidth)
            }
        },
        computed: {
            cssVars () {
                return {
                    /* passing variable to scss */
                    '--c2ContainerMaxWidth': this.maxW,
                    '--c2ContainerGutters': `${this.gutterWidth}px`,
                    '--c2MobileContainerGutters': `${this.mobileGutterWidth}px`
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-container {
        box-sizing: border-box;
        width: 100%;
        max-width: var(--c2ContainerMaxWidth);
        margin: 0 auto;
        padding-left: var(--c2ContainerGutters);
        padding-right: var(--c2ContainerGutters);

        .c2-container {
            padding: 0;
        }

        @media screen and (max-width: 1024px) {
            padding-left: var(--c2MobileContainerGutters);
            padding-right: var(--c2MobileContainerGutters);
        }
    }
</style>
