<template>
    <div :class="[ classes, className ]" :style="cssVars">
        <slot></slot>
    </div>
</template>

<script>

    export default {
        name: 'C2Column',
        props: {
            className: {
                type: String,
                default: null
            },
            columnGutterWidth: {
                type: Number,
                default: 16
            },
            mobileColumnGutterWidth: {
                type: Number,
                default: 16
            },
            offsetSize: {
                type: Number,
                default: null
            },
            offsetSm: {
                type: Number,
                default: null
            },
            offsetMd: {
                type: Number,
                default: null
            },
            offsetLg: {
                type: Number,
                default: null
            },
            offsetXl: {
                type: Number,
                default: null
            },
            size: {
                type: Number,
                default: 12
            },
            sm: {
                type: Number,
                default: null
            },
            md: {
                type: Number,
                default: null
            },
            lg: {
                type: Number,
                default: null
            },
            xl: {
                type: Number,
                default: null
            }
        },
        data() {
            return {
                gutterWidth: Math.abs(this.columnGutterWidth),
                mobileGutterWidth: Math.abs(this.mobileColumnGutterWidth)
            }
        },
        computed: {
            cssVars () {
                return {
                    /* passing variable to scss */
                    '--c2ColumnGutters': `${this.gutterWidth}px`,
                    '--c2MobileColumnGutters': `${this.mobileColumnGutterWidth}px`
                }
            },
            classes() {
                const classnames = [];
                const breakpoints = [
                    { name: 'default', value: this.size },
                    { name: 'sm', value: this.sm },
                    { name: 'md', value: this.md },
                    { name: 'lg', value: this.lg },
                    { name: 'xl', value: this.xl }
                ].filter(breakpoint => breakpoint.value !== false);
                const offsets = [
                    { name: 'default', value: this.offsetSize },
                    { name: 'sm', value: this.offsetSm },
                    { name: 'md', value: this.offsetMd },
                    { name: 'lg', value: this.offsetLg },
                    { name: 'xl', value: this.offsetXl }
                ].filter(breakpoint => breakpoint.value !== false);

                // add breakpoint classes
                for (let i = 0; i < breakpoints.length; i += 1) {
                    const { name, value } = breakpoints[i];

                    if (name === 'default' && typeof value === 'number') {
                        classnames.push(`c2-col-${value}`);
                    } else if (name !== 'default' && typeof value === 'number') {
                        classnames.push(`c2-col-${name}-${value}`);
                    }
                }
                // add offset classes
                for (let i = 0; i < offsets.length; i += 1) {
                    const { name, value } = offsets[i];

                    if (name === 'default' && typeof value === 'number') {
                        classnames.push(`c2-col-offset-${value}`);
                    } else if (name !== 'default' && typeof value === 'number') {
                        classnames.push(`c2-col-offset-${name}-${value}`);
                    }
                }

                return classnames;
            }
        }
    }
</script>

<style lang="scss" scoped>

    * {
        box-sizing: border-box;
    }

    [class*="c2-col"] {
        padding-left: var(--c2ColumnGutters);
        padding-right: var(--c2ColumnGutters);

        @media screen and (max-width: 1023px) {
            padding-left: var(--c2MobileColumnGutters);
            padding-right: var(--c2MobileColumnGutters);
        }
    }

    .c2-col-12 {
        width: 100%;
    }

    .c2-col-11 {
        width: percentage(11/12);
    }

    .c2-col-10 {
        width: percentage(5/6);
    }

    .c2-col-9 {
        width: percentage(3/4);
    }

    .c2-col-8 {
        width: percentage(2/3);
    }

    .c2-col-7 {
        width: percentage(7/12);
    }

    .c2-col-6 {
        width: 50%;
    }

    .c2-col-5 {
        width: percentage(5/12);
    }

    .c2-col-4 {
        width: percentage(1/3);
    }

    .c2-col-3 {
        width: percentage(1/4);
    }

    .c2-col-2 {
        width: percentage(2/12);
    }

    .c2-col-1 {
        width: percentage(1/12);
    }

    .c2-col-offset-11 {
        margin-left: percentage(11/12);
    }

    .c2-col-offset-10 {
        margin-left: percentage(5/6);
    }

    .c2-col-offset-9 {
        margin-left: percentage(3/4);
    }

    .c2-col-offset-8 {
        margin-left: percentage(2/3);
    }

    .c2-col-offset-7 {
        margin-left: percentage(7/12);
    }

    .c2-col-offset-6 {
        margin-left: 50%;
    }

    .c2-col-offset-5 {
        margin-left: percentage(5/12);
    }

    .c2-col-offset-4 {
        margin-left: percentage(1/3);
    }

    .c2-col-offset-3 {
        margin-left: percentage(1/4);
    }

    .c2-col-offset-2 {
        margin-left: percentage(2/12);
    }

    .c2-col-offset-1 {
        margin-left: percentage(1/12);
    }

    @media screen and (min-width: 576px) {

        .c2-col-sm-12 {
            width: 100%;
        }

        .c2-col-sm-11 {
            width: percentage(11/12);
        }

        .c2-col-sm-10 {
            width: percentage(5/6);
        }

        .c2-col-sm-9 {
            width: percentage(3/4);
        }

        .c2-col-sm-8 {
            width: percentage(2/3);
        }

        .c2-col-sm-7 {
            width: percentage(7/12);
        }

        .c2-col-sm-6 {
            width: 50%;
        }

        .c2-col-sm-5 {
            width: percentage(5/12);
        }

        .c2-col-sm-4 {
            width: percentage(1/3);
        }

        .c2-col-sm-3 {
            width: percentage(1/4);
        }

        .c2-col-sm-2 {
            width: percentage(2/12);
        }

        .c2-col-sm-1 {
            width: percentage(1/12);
        }

        .c2-col-offset-sm-11 {
            margin-left: percentage(11/12);
        }

        .c2-col-offset-sm-10 {
            margin-left: percentage(5/6);
        }

        .c2-col-offset-sm-9 {
            margin-left: percentage(3/4);
        }

        .c2-col-offset-sm-8 {
            margin-left: percentage(2/3);
        }

        .c2-col-offset-sm-7 {
            margin-left: percentage(7/12);
        }

        .c2-col-offset-sm-6 {
            margin-left: 50%;
        }

        .c2-col-offset-sm-5 {
            margin-left: percentage(5/12);
        }

        .c2-col-offset-sm-4 {
            margin-left: percentage(1/3);
        }

        .c2-col-offset-sm-3 {
            margin-left: percentage(1/4);
        }

        .c2-col-offset-sm-2 {
            margin-left: percentage(2/12);
        }

        .c2-col-offset-sm-1 {
            margin-left: percentage(1/12);
        }
    }

    @media screen and (min-width: 768px) {

        .c2-col-md-12 {
            width: 100%;
        }

        .c2-col-md-11 {
            width: percentage(11/12);
        }

        .c2-col-md-10 {
            width: percentage(5/6);
        }

        .c2-col-md-9 {
            width: percentage(3/4);
        }

        .c2-col-md-8 {
            width: percentage(2/3);
        }

        .c2-col-md-7 {
            width: percentage(7/12);
        }

        .c2-col-md-6 {
            width: 50%;
        }

        .c2-col-md-5 {
            width: percentage(5/12);
        }

        .c2-col-md-4 {
            width: percentage(1/3);
        }

        .c2-col-md-3 {
            width: percentage(1/4);
        }

        .c2-col-md-2 {
            width: percentage(2/12);
        }

        .c2-col-md-1 {
            width: percentage(1/12);
        }

        .c2-col-offset-md-11 {
            margin-left: percentage(11/12);
        }

        .c2-col-offset-md-10 {
            margin-left: percentage(5/6);
        }

        .c2-col-offset-md-9 {
            margin-left: percentage(3/4);
        }

        .c2-col-offset-md-8 {
            margin-left: percentage(2/3);
        }

        .c2-col-offset-md-7 {
            margin-left: percentage(7/12);
        }

        .c2-col-offset-md-6 {
            margin-left: 50%;
        }

        .c2-col-offset-md-5 {
            margin-left: percentage(5/12);
        }

        .c2-col-offset-md-4 {
            margin-left: percentage(1/3);
        }

        .c2-col-offset-md-3 {
            margin-left: percentage(1/4);
        }

        .c2-col-offset-md-2 {
            margin-left: percentage(2/12);
        }

        .c2-col-offset-md-1 {
            margin-left: percentage(1/12);
        }
    }

    @media screen and (min-width: 1024px) {

        .c2-col-lg-12 {
            width: 100%;
        }

        .c2-col-lg-11 {
            width: percentage(11/12);
        }

        .c2-col-lg-10 {
            width: percentage(5/6);
        }

        .c2-col-lg-9 {
            width: percentage(3/4);
        }

        .c2-col-lg-8 {
            width: percentage(2/3);
        }

        .c2-col-lg-7 {
            width: percentage(7/12);
        }

        .c2-col-lg-6 {
            width: 50%;
        }

        .c2-col-lg-5 {
            width: percentage(5/12);
        }

        .c2-col-lg-4 {
            width: percentage(1/3);
        }

        .c2-col-lg-3 {
            width: percentage(1/4);
        }

        .c2-col-lg-2 {
            width: percentage(2/12);
        }

        .c2-col-lg-1 {
            width: percentage(1/12);
        }

        .c2-col-offset-lg-11 {
            margin-left: percentage(11/12);
        }

        .c2-col-offset-lg-10 {
            margin-left: percentage(5/6);
        }

        .c2-col-offset-lg-9 {
            margin-left: percentage(3/4);
        }

        .c2-col-offset-lg-8 {
            margin-left: percentage(2/3);
        }

        .c2-col-offset-lg-7 {
            margin-left: percentage(7/12);
        }

        .c2-col-offset-lg-6 {
            margin-left: 50%;
        }

        .c2-col-offset-lg-5 {
            margin-left: percentage(5/12);
        }

        .c2-col-offset-lg-4 {
            margin-left: percentage(1/3);
        }

        .c2-col-offset-lg-3 {
            margin-left: percentage(1/4);
        }

        .c2-col-offset-lg-2 {
            margin-left: percentage(2/12);
        }

        .c2-col-offset-lg-1 {
            margin-left: percentage(1/12);
        }
    }

    @media screen and (min-width: 1440px) {

        .c2-col-xl-12 {
            width: 100%;
        }

        .c2-col-xl-11 {
            width: percentage(11/12);
        }

        .c2-col-xl-10 {
            width: percentage(5/6);
        }

        .c2-col-xl-9 {
            width: percentage(3/4);
        }

        .c2-col-xl-8 {
            width: percentage(2/3);
        }

        .c2-col-xl-7 {
            width: percentage(7/12);
        }

        .c2-col-xl-6 {
            width: 50%;
        }

        .c2-col-xl-5 {
            width: percentage(5/12);
        }

        .c2-col-xl-4 {
            width: percentage(1/3);
        }

        .c2-col-xl-3 {
            width: percentage(1/4);
        }

        .c2-col-xl-2 {
            width: percentage(2/12);
        }

        .c2-col-xl-1 {
            width: percentage(1/12);
        }

        .c2-col-offset-xl-11 {
            margin-left: percentage(11/12);
        }

        .c2-col-offset-xl-10 {
            margin-left: percentage(5/6);
        }

        .c2-col-offset-xl-9 {
            margin-left: percentage(3/4);
        }

        .c2-col-offset-xl-8 {
            margin-left: percentage(2/3);
        }

        .c2-col-offset-xl-7 {
            margin-left: percentage(7/12);
        }

        .c2-col-offset-xl-6 {
            margin-left: 50%;
        }

        .c2-col-offset-xl-5 {
            margin-left: percentage(5/12);
        }

        .c2-col-offset-xl-4 {
            margin-left: percentage(1/3);
        }

        .c2-col-offset-xl-3 {
            margin-left: percentage(1/4);
        }

        .c2-col-offset-xl-2 {
            margin-left: percentage(2/12);
        }

        .c2-col-offset-xl-1 {
            margin-left: percentage(1/12);
        }
    }
</style>
