<template>
    <div class="c2-row" :class="[justify, align, className]" :style="cssVars">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'C2Row',
        props: {
            className: {
                type: String,
                default: null
            },
            mobileRowGutterWidth: {
                type: Number,
                default: 16
            },
            rowGutterWidth: {
                type: Number,
                default: 16
            },
            justifyContent: {
                type: String,
                default: null
            },
            alignItems: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                gutterWidth: Math.abs(this.rowGutterWidth),
                mobileGutterWidth: Math.abs(this.mobileRowGutterWidth)
            }
        },
        computed: {
            cssVars () {
                return {
                    /* passing variable to scss */
                    '--c2RowGutters': `${this.gutterWidth}px`,
                    '--c2MobileRowGutters': `${this.mobileRowGutterWidth}px`
                }
            },
            justify () {
                let className;

                if (this.justifyContent === 'start') {
                    className = 'c2-justify-content-start';
                } else if (this.justifyContent === 'center') {
                    className = 'c2-justify-content-center';
                } else if (this.justifyContent === 'end') {
                    className = 'c2-justify-content-end';
                } else {
                    className = '';
                }

                return className;
            },
            align () {
                let className;

                if (this.alignItems === 'start') {
                    className = 'c2-align-items-start';
                } else if (this.alignItems === 'center') {
                    className = 'c2-align-items-center';
                } else if (this.alignItems === 'end') {
                    className = 'c2-align-items-end';
                } else {
                    className = '';
                }

                return className;
            }
        }
    }
</script>

<style lang="scss" scoped>

    .c2-row {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(#{var(--c2RowGutters)} * -1);
        margin-right: calc(#{var(--c2RowGutters)} * -1);

        @media screen and (max-width: 1023px){
            margin-left: calc(#{var(--c2MobileRowGutters)} * -1);
            margin-right: calc(#{var(--c2MobileRowGutters)} * -1);
        }

        &.c2-justify-content-center {
            justify-content: center;
        }

        &.c2-justify-content-start {
            justify-content: start;
        }

        &.c2-justify-content-end {
            justify-content: end;
        }

        &.c2-align-items-center {
            align-items: center;
        }

        &.c2-align-items-start {
            align-items: start;
        }

        &.c2-align-items-end {
            align-items: end;
        }
    }
</style>
