<template>
    <div
        class="c2-loading-bar"
        :class="[
            {
                'rounded-full': rounded,
                'indeterminate': indeterminate
            }
        ]"
    >
        <div
            class="progress-bar"
            role="progressbar"
            :aria-valuenow="percentage"
            aria-valuemin="0"
            aria-valuemax="100"
            :style="{ width: `${percentage}%`, backgroundColor: color }"
            :class="[
                {
                    'rounded-bar': rounded,
                    'indeterminate': indeterminate
                }
            ]"
        >
            <span class="progress-center"></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'C2LoadingBar',
        props: {
            color: {
                type: String,
                default: '#38b2ac'
            },
            indeterminate: {
                type: Boolean,
                default: false
            },
            percentage: {
                type: Number,
                default: 0
            },
            rounded: {
                type: Boolean,
                default: true
            }
        }
    };
</script>

<style lang="scss" scoped>
    .c2-loading-bar {
        background-color: #edf2f7;
        height: 1rem;
        margin-bottom: .5rem;
        overflow: hidden;
        position: relative;
        width: 100%;

        &.rounded-full {
            border-radius: 9999px;
        }
    }

    .progress-bar {
        height: 100%;
        transition: width ease-in-out .25s;

        &.indeterminate {
            position: absolute;
            top: 0;
        }

        &.rounded-bar {
            border-radius: 9999px;
        }

        .indeterminate & {
            animation: progress-indeterminate 3s ease-in-out infinite;
        }
    }

    .progress-center {
        align-items: center;
        display: flex;
        height: 100%;
    }

    @keyframes progress-indeterminate {
        0% {
            width: 30%;
            left: -40%;
        }
        60% {
            left: 100%;
            width: 100%;
        }
        to {
            left: 100%;
            width: 0;
        }
    }
</style>
