<template>
    <section
        class="c2-slider-component"
            :class="[
            { 'show-overflow': showOverflow },
            { 'nav-bottom': !hideNavigation || hasExtraButton }
        ]"
        :style="vars"
    >
        <div
            class="c2-slider-wrapper"
            :class="[
                { 'show-overflow': showOverflow }
            ]"
        >
            <div
                class="c2-slider"
                :style="translateStyle"
                ref="slideContainer"
            >
                <slot name="slide"></slot>
            </div>
        </div>

        <div
            class="c2-nav-wrapper"
            v-if="!hideNavigation || hasExtraButton"
        >
            <slot name="extraButton"></slot>

            <nav
                aria-label="Slider Arrows"
                class="c2-nav-arrows"
                :class="alignNavClass"
                v-if="!hideNavigation"
            >

                <div v-if="!hideIndicators" class="indicator">{{ currentSlide }}/{{ totalSlides }}</div>

                <button
                    :class="btnPrevClass"
                    :disabled="disablePrevious"
                    @click="prev"
                >
                    <slot name="previousIcon"></slot>
                    <slot name="previousText"></slot>
                </button>

                <button
                    :class="btnNextClass"
                    :disabled="disableNext"
                    @click="next"
                >
                    <slot name="nextText"></slot>
                    <slot name="nextIcon"></slot>
                </button>
            </nav>
        </div>
    </section>
</template>

<script>
    const ONE_HUNDRED_PERCENT = 100;
    const MINIMUM_SLIDES = 2;

    export default {
        name: 'C2Slider',
        props: {
            btnNextClass: {
                type: String,
                default: ''
            },
            btnPrevClass: {
                type: String,
                default: ''
            },
            slideSpeed: {
                type: Number,
                default: 300
            },
            slidesToShow: {
                type: Number,
                default: 1
            },
            slidesToShowMobile: {
                type: Number,
                default: null
            },
            slidesToShowTablet: {
                type: Number,
                default: null
            },
            gutter: {
                type: Number,
                default: 0
            },
            hideIndicators: {
                type: Boolean,
                default: true
            },
            navAlignment: {
                type: String,
                default: 'right'
            },
            showOverflow: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                alignCenterClass: 'align-center',
                alignLeftClass: 'align-left',
                alignRightClass: 'align-right',
                currentMedia: 'desktop',
                currentSlide: 1,
                dataSlidesToShow: null,
                disableNext: true,
                disablePrevious: false,
                hideNavigation: false,
                index: this.slidesToShow,
                media: {
                    tabletQuery: '(max-width: 1023px)',
                    mobileQuery: '(max-width: 575px)'
                },
                slotObserver: null,
                totalSlides: 0,
                translateValue: 0,
                vars: {}
            }
        },
        computed: {
            alignNavClass () {
                switch (this.navAlignment) {
                    case 'left':
                        return this.alignLeftClass;
                    case 'center':
                        return this.alignCenterClass;
                    default:
                        return this.alignRightClass;
                }
            },
            translateStyle () {
                return {
                    'transform': `translateX(${this.translateValue}%)`
                }
            }
        },
        watch: {
            currentMedia: function() {
                this.resetSlider();
            },
            hideNavigation: function() {
                this.checkForNavigation();
            },
            index: function(val) {
                this.checkForDisabledButtons(val);
            }
        },
        created() {
            const self = this;

            if (!this.slidesToShowTablet && !this.slidesToShowMobile){
                return;
            }

            let windowWidth = window.innerWidth;

            window.addEventListener('resize', () => {
                // only check for width changes, mobile browsers change viewport
                // height on scroll when showing/hiding the navigation bar, and
                // we don't want to reset the slider every time that happens
                if (windowWidth !== window.innerWidth) {
                    windowWidth = window.innerWidth;
                    self.init();
                }
            });
        },
        mounted() {
            this.init();
            this.touchEvents();

            // Create the observer (and what to do on changes...)
            this.slotObserver = new MutationObserver(function() {
                this.init();
            }.bind(this));

            this.slotObserver.observe(
                this.$refs.slideContainer,
                {
                    childList: true
                });
        },
        beforeDestroy() {
            this.slotObserver.disconnect();
        },        
        methods: {
            init() {                
                this.getMedia();
                this.slideTotal();
                this.cssVars();
                this.hasExtraButton();
                this.calcTotalSlides();
                this.checkForNavigation();
                this.checkForDisabledButtons(this.index);
            },
            slideTotal () {
                if (!this.$slots.slide) {
                    return 0;
                } else if (this.$slots.slide.length < MINIMUM_SLIDES) {
                    this.hideNavigation = true;
                }

                return this.$slots.slide.length;
            },
            cssVars () {
                this.vars = {
                    /* passing variable to scss */
                    '--c2rowGutter': `-${Math.abs(this.gutter)}px`,
                    '--c2SlideWidth': `${this.calcSlideWidth()}%`,
                    '--c2SlideGutter': `${Math.abs(this.gutter)}px`,
                    '--c2SlideSpeed': `${this.slideSpeed}ms`,
                    '--c2SlideSliderWidth': `${this.calcSlideSliderWidth()}%`
                }
            },
            hasExtraButton() {
                return !!this.$slots.extraButton;
            },
            calcTotalSlides () {
                this.totalSlides = Math.ceil(this.calcSlideSliderWidth() / ONE_HUNDRED_PERCENT);
            },
            calcSlideWidth() {
                if (!this.$slots.slide) {
                    return 0;
                }

                return ONE_HUNDRED_PERCENT / this.$slots.slide.length;
            },
            calcSlideSliderWidth() {
                const showAmount = ONE_HUNDRED_PERCENT / this.dataSlidesToShow;
                return showAmount * this.slideTotal();
            },
            calcSlideTranslateWidth(direction) {
                const totalSlides = this.calcSlideSliderWidth() / ONE_HUNDRED_PERCENT;
                const slideSetWidth = ONE_HUNDRED_PERCENT / totalSlides;
                const slideSetRemainingWidth = (totalSlides % 1) * slideSetWidth;

                // hides nav if only one slide
                this.checkForNavigation();

                if (totalSlides % 1 === 0) {
                    return slideSetWidth;
                }

                // returns different number if there is remaining space
                if (direction === 'prev' && this.currentSlide + 1 > totalSlides) {
                    return slideSetRemainingWidth;
                } else if (direction === 'next' && this.currentSlide > totalSlides) {
                    return slideSetRemainingWidth;
                }

                return slideSetWidth;
            },
            checkForDisabledButtons(val) {
                this.disablePrevious = val === this.dataSlidesToShow;
                this.disableNext = val >= this.slideTotal();
            },
            checkForNavigation() {
                this.hideNavigation = this.totalSlides < MINIMUM_SLIDES;
            },
            getMedia() {
                const self = this;

                if (window.matchMedia(self.media.mobileQuery).matches) {
                    this.getMediaForMobile();
                } else if (window.matchMedia(self.media.tabletQuery).matches) {
                    this.getMediaForTablet();
                } else {
                    this.getMediaForDesktop();
                }
            },
            getMediaForDesktop() {
                this.currentMedia = 'desktop';
                this.dataSlidesToShow = this.slidesToShow;
                this.index = this.slidesToShow;
            },
            getMediaForMobile() {
                this.currentMedia = 'mobile';

                // provide fallback if mobile or tablet isn't provided
                if (!this.slidesToShowMobile && this.slidesToShowTablet) {
                    this.getMediaForTablet();
                    return;
                } else if (!this.slidesToShowMobile){
                    this.getMediaForDesktop();
                    return;
                }

                this.dataSlidesToShow = this.slidesToShowMobile;
                this.index = this.slidesToShowMobile;
            },
            getMediaForTablet() {
                this.currentMedia = 'tablet';

                // provide fallback if tablet isn't provided
                if (!this.slidesToShowTablet) {
                    this.getMediaForDesktop();
                    return;
                }

                this.dataSlidesToShow = this.slidesToShowTablet;
                this.index = this.slidesToShowTablet;
            },
            handleGesture(gesture) {
                let delta = {
                    x: Math.abs(gesture.x.end - gesture.x.start),
                    y: Math.abs(gesture.y.end - gesture.y.start)
                }
                // if this is a horizontal swipe
                if (delta.x > delta.y) {
                    if (gesture.x.end < gesture.x.start) {
                        this.next();
                    }
                    if (gesture.x.end >= gesture.x.start) {
                        this.prev();
                    }
                }
            },
            next() {
                if (this.index >= this.slideTotal()){
                    return;
                }

                this.currentSlide++;
                this.translateValue -= this.calcSlideTranslateWidth('next');
                this.index += this.dataSlidesToShow;
            },
            prev() {
                if (this.index <= this.dataSlidesToShow){
                    return;
                }

                this.currentSlide--;
                this.translateValue += this.calcSlideTranslateWidth('prev');
                this.index -= this.dataSlidesToShow;
            },
            resetSlider() {
                this.translateValue = 0;
                this.currentSlide = 1;
                this.init();
            },
            touchEvents() {
                let gesture = {
                    x: {
                        start: 0,
                        end: 0
                    },
                    y: {
                        start: 0,
                        end: 0
                    }
                };

                this.$el.addEventListener('touchstart', (event) => {
                    gesture.x.start = event.changedTouches[0].screenX;
                    gesture.y.start = event.changedTouches[0].screenY;
                }, false);

                this.$el.addEventListener('touchend', (event) => {
                    gesture.x.end = event.changedTouches[0].screenX;
                    gesture.y.end = event.changedTouches[0].screenY;
                    this.handleGesture(gesture);
                }, false);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-slider-component {
        overflow: hidden;
        touch-action: pan-y;
    }

    .c2-slider-wrapper {
        overflow: hidden;
        position: relative;
        margin: 0 var(--c2rowGutter);
        touch-action: pan-y;

        &.nav-bottom {
            padding-bottom: 50px;
        }

        &.show-overflow {
            overflow: visible;
        }
    }

    .c2-slider {
        box-sizing: border-box;
        display: inline-flex;
        overflow: hidden;
        transition: var(--c2SlideSpeed) ease transform;
        width: var(--c2SlideSliderWidth);

        > div,
        > a {
            padding: 0 var(--c2SlideGutter);
            width: var(--c2SlideWidth);
        }
    }

    .c2-nav-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        width: 100%;
    }

    .c2-nav-arrows {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        &.align-left {
            justify-content: flex-start;
        }

        &.align-center {
            justify-content: center;
        }

        .indicator {
            font-size: 12px;
            margin-right: 32px;
        }

        button {
            align-items: center;
            cursor: pointer;
            display: flex;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
</style>
