<template>
    <component
        class="c2-tag"
        :class="[
            {
                'is-link' : tagType === 'a'
            }
        ]"
        :is="tagType"
        :href="href"
    >
        {{ value }}
    </component>
</template>

<script>
    export default {
        name: 'C2Tag',
        props: {
            href: {
                type: String,
                default: null
            },
            value: {
                type: String,
                required: true
            }
        },
        computed: {
            tagType() {
                return this.href ? 'a' : 'span';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-tag {
        align-items: center;
        background-color: #e2e8f0;
        color: #1a202c;
        display: inline-flex;
        font-family: Arial, serif;
        font-size: 14px;
        justify-content: center;
        line-height: 20px;
        padding: 6px 12px;

        &.is-link {
            border: 0;
            box-shadow: 0 0 0 #999;
            outline: 0;
            text-decoration: none;
            transition: box-shadow ease-in-out .3s;

            &:hover {
                box-shadow: 0 1px 4px #999;
            }
        }
    }
</style>
