<template>
    <c2-with-root :show="hasAspectRatio">
        <div
            class="aspect-ratio-box"
            :style="imageStyles"
            :class="[
                {
                    'one-one': this.aspectRatio === '1/1',
                    'sixteen-nine': this.aspectRatio === '16/9',
                    'seven-four': this.aspectRatio === '7/4',
                    'three-two': this.aspectRatio === '3/2',
                    'four-three': this.aspectRatio === '4/3',
                    'two-three': this.aspectRatio === '2/3',
                    'three-four': this.aspectRatio === '3/4'
                }
            ]"
        >
            <picture v-if="browserSupportsLazyLoading">
                <source v-if="mobileSrc" :srcset="mobileSrc" :media="mobileMedia">
                <source v-if="srcset" :srcset="srcset">
                <source v-else :srcset="src">
                <img
                    :loading="lazyLoadOption"
                    :height="height"
                    :width="width"
                    :src="src"
                    :alt="alt"
                    :srcset="srcset"
                    :sizes="sizes"
                    ref="image"
                    class="c2-image"
                />
            </picture>
            <picture v-else>
                <img
                    :height="height"
                    :width="width"
                    :src="src"
                    :alt="alt"
                    :srcset="srcset"
                    :sizes="sizes"
                    ref="image"
                    class="c2-image"
                />
            </picture>
        </div>
    </c2-with-root>
</template>

<script>
    import { C2LazyLoad } from '../../directives/c2-lazy-load';
    import C2WithRoot from '../c2-with-root/c2-with-root.vue';

    export default {
        name: 'C2Image',
        directives: {
            Lazyload: C2LazyLoad
        },
        components: {
            C2WithRoot: C2WithRoot
        },
        data() {
            return {
                browserSupportsLazyLoading: 'loading' in HTMLImageElement.prototype,
                hasAspectRatio: this.aspectRatio !== '',
                imageStyles: {},
                lazyLoadOption: this.dontLazyLoad ? 'auto' : 'lazy'
            }
        },
        mounted() {
            if (!this.restrictMaxDimensions) {
                return;
            }

            const self = this;

            this.$refs.image.onload = function() {
                self.imageStyles = {
                    'maxWidth': `${this.naturalWidth}px`
                };
            };
        },
        props: {
            dontLazyLoad: {
                type: Boolean,
                default: false
            },
            height: {
                type: Number
            },
            width: {
                type: Number
            },
            srcset: {
                type: String
            },
            sizes: {
                type: String
            },
            alt: {
                type: String,
                required: true
            },
            aspectRatio: {
                type: String,
                default: '',
                validator: value => {
                    return value === '' ||
                        value === '1/1' ||
                        value === '16/9' ||
                        value === '7/4' ||
                        value === '3/2' ||
                        value === '4/3' ||
                        value === '2/3' ||
                        value === '3/4';
                }
            },
            errorImage: {
                type: String,
                default: ''
            },
            restrictMaxDimensions: {
                type: Boolean,
                default: false
            },
            src: {
                type: String,
                required: true
            },
            mobileMedia: {
                type: String
            },
            mobileSrc: {
                type: String
            }
        }
    }
</script>

<style lang="scss" scoped>
    .aspect-ratio-box {
        position: relative;

        &::after {
            content: '';
            display: block;
        }

        &.one-one::after {
            padding-bottom: ((1 / 1) * 100%);
        }

        &.sixteen-nine::after {
            padding-bottom: ((9 / 16) * 100%);
        }

        &.seven-four::after {
            padding-bottom: ((4 / 7) * 100%);
        }

        &.three-two::after {
            padding-bottom: ((2 / 3) * 100%);
        }

        &.four-three::after {
            padding-bottom: ((3 / 4) * 100%);
        }

        &.two-three::after {
            padding-bottom: ((3 / 2) * 100%);
        }

        &.three-four::after {
            padding-bottom: ((4 / 3) * 100%);
        }

        .c2-image {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
</style>
