<template>
    <div
        class="c2-datepicker"
        @change="onSelect"
        :class="[
            {
                'input-disabled': isDisabled,
                'input-error': isInvalid || hasError,
                'input-success': hasSuccess,
                [`${disabledClass}`] : isDisabled,
                [`${errorClass}`] : isInvalid || hasError,
                [`${successClass}`] : hasSuccess
            }
        ]"
    >
        <label
            v-if="getDateLabel.length > 0"
            :for="`${uid}-input-datepicker`"
            class="c2-datepicker-label"
            :class="[
                {
                    'hide-label': hideLabel
                }
            ]"
        >
            {{ getDateLabel }}
        </label>
        <div
            ref="dateWrapper"
            class="c2-datepicker-input-wrapper"
            :class="[
                {
                    'hide-input': hideInput
                }
            ]"
        >
            <input
                :data-invalid="isInvalid || hasError"
                class="c2-datepicker-input"
                :type="fieldType"
                :id="`${uid}-input-datepicker`"
                :pattern="patternValidator"
                :required="isRequired"
                :disabled="isDisabled"
                :placeholder="placeholder"
                data-date-picker-input
                v-bind="$attrs"
                v-show="!hideInput"
                ref="date"
            />
            <span class="calendar-icon" @click="openCalendar" v-if="!hideInput">
                <slot name="calendar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" style="enable-background:new 0 0 32 32;" xml:space="preserve" viewBox="4 2 24 26">
                        <path d="M26,4h-4V2h-2v2h-8V2h-2v2H6C4.9,4,4,4.9,4,6v20c0,1.1,0.9,2,2,2h20c1.1,0,2-0.9,2-2V6C28,4.9,27.1,4,26,4z M26,26H6V12h20  V26z M26,10H6V6h4v2h2V6h8v2h2V6h4V10z"/>
                        <rect fill="none" width="32" height="32"/>
                    </svg>
                </slot>
            </span>
            <span class="error-icon" v-if="!hideInput">
                <slot name="error-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 32 32">
                        <rect fill="none" width="32" height="32" />
                        <path fill="#C53030" d="M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14s14-6.3,14-14C30,8.3,23.7,2,16,2z M14.9,8h2.2v11h-2.2V8z M16,25
                        c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22c0.8,0,1.5,0.7,1.5,1.5S16.8,25,16,25z" />
                        <path class="st1" fill="white" d="M17.5,23.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22
                        C16.8,22,17.5,22.7,17.5,23.5z M17.1,8h-2.2v11h2.2V8z" />
                    </svg>
                </slot>
            </span>
            <span class="success-icon" v-if="!hideInput">
                <slot name="success-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                        <path fill="#48BB78" d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2ZM14,21.5908l-5-5L10.5906,15,14,18.4092,21.41,11l1.5957,1.5859Z" />
                        <polygon fill="none" points="14 21.591 9 16.591 10.591 15 14 18.409 21.41 11 23.005 12.585 14 21.591" />
                        <rect data-name="&lt;Transparent Rectangle&gt;" fill="none" width="32" height="32" />
                    </svg>
                </slot>
            </span>
        </div>
        <div class="c2-datepicker-invalid-message" v-if="isInvalid || hasError">{{ invalidMessage }}</div>
    </div>
</template>

<script>
    import Pikaday from '../../lib/pikaday/pikaday.js';

    import { uidMixin } from '../../mixins';

    export default {
        name: 'C2DatePicker',
        mixins: [
            uidMixin
        ],
        inheritAttrs: false,
        data() {
            return {
                dataValue: this.value,
                dataOptions: {},
                fieldType: this.getFieldType(),
                hasSuccess: false,
                isInvalid: this.hasError
            };
        },
        mounted() {
            this.initializePikaday();
        },
        beforeDestroy() {
            if (!this.calendar) {
                return;
            }

            this.calendar.destroy();
        },
        computed: {
            getDateLabel() {
                if (this.dateLabel) {
                    return this.dateLabel;
                }

                return 'Date';
            }
        },
        methods: {
            getFieldType() {
                if (this.isLikelyMobileDevice()) {
                    return 'date';
                }

                return 'text';
            },
            getOptions() {
                const options = {...this.calendarOptions};
                options.field = this.$refs.date;
                options.i18n = {
                    previousMonth : '<span class="sr-only">Previous Month</span>',
                    nextMonth     : '<span class="sr-only">Next Month</span>',
                    months        : ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    weekdays      : ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                    weekdaysShort : ['S', 'M', 'T', 'W', 'T', 'F', 'S']
                }
                options.onSelect = this.onSelect;

                if (this.dataValue) {
                    options.defaultDate = this.dataValue;
                    options.setDefaultDate = true;
                }

                if (this.hideInput) {
                    options.bound = false;
                    options.container = this.$refs.dateWrapper;
                }

                options.toString = (date) => {
                    const day = date.getDate();
                    const month = date.getMonth() + 1;
                    const year = date.getFullYear();
                    return `${month}/${day}/${year}`;
                };

                options.parse = (dateString) => {
                    const DAY_INDEX = 1;
                    const MONTH_INDEX = 0;
                    const YEAR_INDEX = 2;

                    // dateString is the result of `toString` method
                    const parts = dateString.split('/');
                    const day = parseInt(parts[DAY_INDEX], 10);
                    const month = parseInt(parts[MONTH_INDEX], 10) - 1;
                    const year = parseInt(parts[YEAR_INDEX], 10);
                    return new Date(year, month, day);
                };

                return options;
            },
            initializePikaday() {
                window.addEventListener('mousemove', function() {
                    this.calendar = new Pikaday(this.getOptions());
                });

                if (this.isLikelyMobileDevice()) {
                    return;
                }

                this.calendar = new Pikaday(this.getOptions());
            },
            isDateSupported() {
                const input = document.createElement('input');
                const value = 'a';

                input.setAttribute('type', 'date');
                input.setAttribute('value', value);

                return input.value !== value;
            },
            isLikelyMobileDevice() {
                const hasTouchCapabilities = 'ontouchstart' in window ||
                                              navigator.maxTouchPoints > 0 ||
                                              navigator.msMaxTouchPoints > 0;

                return hasTouchCapabilities || !this.isDateSupported();
            },
            onSelect() {
                this.dataValue = this.$refs.date.value;
                this.$emit('change', this.dataValue);
            },
            openCalendar() {
                this.calendar.show();
            }
        },
        props: {
            calendarOptions: {
                type: Object,
                default: function() {
                    return {
                        format: 'M/D/YYYY'
                    }
                }
            },
            dateLabel: {
                type: String,
                default: 'Date'
            },
            disabledClass: {
                type: String,
                default: ''
            },
            errorClass: {
                type: String,
                default: ''
            },
            hasError: {
                type: Boolean,
                default: false
            },
            hideInput: {
                type: Boolean,
                default: false
            },
            hideLabel: {
                type: Boolean,
                default: false
            },
            invalidMessage: {
                type: String,
                default: 'Date is invalid'
            },
            isDisabled: {
                type: Boolean,
                default: false
            },
            isRequired: {
                type: Boolean,
                default: false
            },
            patternValidator: {
                type: String,
                default: '\\d{1,2}/\\d{1,2}/\\d{4}'
            },
            placeholder: {
                type: String,
                default: 'mm/dd/yyyy'
            },
            successClass: {
                type: String,
                default: ''
            },
            value: {
                type: [String, Date]
            }
        },
        model: {
            prop: 'value',
            event: 'change'
        },
        watch: {
            calendarOptions() {
                this.initializePikaday();
            },
            value() {
                this.calendar.setDate(this.value, true);
                this.dataValue = this.value;
            }
        }
    }
</script>

<style lang="scss">
    @import '../../lib/pikaday/pikaday.scss';

    .c2-datepicker-label {
        padding: 10px;

        &.hide-label {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }
    }

    .c2-datepicker-input-wrapper input {
        outline: none;
        box-shadow: none;
    }

    .c2-datepicker-input-wrapper {
        background-color: #edf2f7;
        height: 48px;
        position: relative;

        &.hide-input {
            background-color: transparent;
            height: auto;
        }

        input {
            background: transparent;
            border: 1px solid transparent;
            border-radius: 0;
            bottom: 0;
            box-sizing: border-box;
            color: #1a202c;
            font-family: Arial, serif;
            font-size: 16px;
            left: 0;
            line-height: 24px;
            outline: 0;
            padding: 12px 16px;
            position: absolute;
            right: 0;
            top: 0;
            transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;
            width: 100%;

            .input-disabled & {
                color: rgba(26, 32, 44, .6);
                opacity: .6;
                pointer-events: none;
            }

            .input-error &,
            .input-error &:focus {
                border-color: #c53030;
                box-shadow: 0 0 0 3px rgba(197, 48, 48, 0.25);
            }

            .input-success &,
            .input-success &:focus {
                border-color: #38a169;
                box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.25);
            }

            &:focus {
                border-color: #5a67d8;
                box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.5);
            }

            &::placeholder,
            &:-ms-input-placeholder,
            &::-ms-input-placeholder {
                color: rgba(26, 32, 44, .6);
            }

            &::-webkit-inner-spin-button,
            &::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
            }
        }

        .input-disabled & {
            cursor: not-allowed;
        }

        .calendar-icon,
        .error-icon,
        .success-icon {
            display: none;
            height: 22px;
            position: absolute;
            right: 17px;
            top: 50%;
            transform: translateY(-50%);
            width: 22px;
        }

        .calendar-icon {
            align-items: center;
            cursor: pointer;
            display: inline-flex;
            justify-content: center;

            .input-error &,
            .input-success & {
                display: none;
            }
        }

        .error-icon {
            .input-error & {
                display: inline-block;
            }
        }

        .success-icon {
            .input-success & {
                display: inline-block;
            }
        }
    }

    .pika-single {
        .is-selected .pika-day {
            background-color: #2563eb;
            box-shadow: none;
            color: #fff;
        }

        .is-today:not(.is-selected) .pika-day {
            color: #2563eb;

            &:hover {
                color: #fff;
            }
        }

        .pika-day {
            align-items: center;
            background-color: #fff;
            border-radius: 50%;
            color: #4a5568;
            display: flex;
            font-weight: normal;
            height: 24px;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            transition: background-color ease-in-out .25s, color ease-in-out .25s;
            width: 24px;

            &:hover {
                background-color: #2563eb;
                box-shadow: none;
                color: #fff;
            }
        }

        .pika-label {
            align-items: center;
            color: #1a202c;
            display: inline-flex;
            font-size: 1rem;
            font-weight: normal;
            padding: 0;
            pointer-events: none;

            &:first-child {
                margin-right: 4px;
            }
        }

        .pika-next,
        .pika-prev {
            background-position-y: 4.25px;
            background-repeat: no-repeat;
            background-size: 8.55px;
            border-radius: 2px;
            float: none;
            height: 24px;
            opacity: 1;
            transition: background-color ease-in-out .25s;
            width: 24px;

            &:active,
            &:focus,
            &:hover {
                background-color: #e5e7eb;
            }
        }

        .pika-next {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjEwLjYgNiAxMS40IDIwIiBzdmctaW5saW5lPSIiIHJvbGU9InByZXNlbnRhdGlvbiIgZm9jdXNhYmxlPSJmYWxzZSIgdGFiaW5kZXg9Ii0xIj48cGF0aCBkPSJNMjIgMTZMMTIgMjZsLTEuNC0xLjQgOC42LTguNi04LjYtOC42TDEyIDZ6Ij48L3BhdGg+PC9zdmc+);
            background-position-x: 8px;
            margin-left: 16px;
        }

        .pika-prev {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGZvY3VzYWJsZT0iZmFsc2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTEuNCAyMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTEuNCAyMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0wLDEwTDEwLDBsMS40LDEuNEwyLjgsMTBsOC42LDguNkwxMCwyMEwwLDEweiIvPjwvc3ZnPg==);
            background-position-x: 6.5px;
            margin-left: auto;
        }

        .pika-select {
            display: none;
        }

        .pika-table {
            abbr {
                cursor: default;
                text-decoration: none;
            }

            td, th {
                height: 32px;
                width: 32px;
            }

            th {
                color: #4a5568;
                font-weight: normal;
            }
        }

        .pika-title {
            display: flex;
            margin-bottom: 16px;
            padding: 0 5px 0 10px;
        }
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
</style>
