<template>
    <div
        class="c2-video"
        :class="[
            {
                'one-one': this.aspectRatio === '1/1',
                'sixteen-nine': this.aspectRatio === '16/9',
                'three-two': this.aspectRatio === '3/2',
                'four-three': this.aspectRatio === '4/3',
                'two-three': this.aspectRatio === '2/3',
                'three-four': this.aspectRatio === '3/4'
            }
        ]"
    >
        <iframe
            :title="videoTitle"
            :src="videoSrc"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        >
        </iframe>
    </div>
</template>

<script>
    export default {
        name: 'C2Video',
        props: {
            aspectRatio: {
                type: String,
                default: '16/9',
                validator: value => {
                    return value === '' ||
                        value === '1/1' ||
                        value === '16/9' ||
                        value === '3/2' ||
                        value === '4/3' ||
                        value === '2/3' ||
                        value === '3/4';
                }
            },
            videoSrc: {
                type: String,
                required: true
            },
            videoTitle: {
                type: String
            }
        }
    }
</script>

<style lang="scss" scoped>
    .c2-video {
        overflow: hidden;
        position: relative;
        width: 100%;

        &::after {
            content: '';
            display: block;
        }

        &.one-one::after {
            padding-bottom: ((1 / 1) * 100%);
        }

        &.sixteen-nine::after {
            padding-bottom: ((9 / 16) * 100%);
        }

        &.three-two::after {
            padding-bottom: ((2 / 3) * 100%);
        }

        &.four-three::after {
            padding-bottom: ((3 / 4) * 100%);
        }

        &.two-three::after {
            padding-bottom: ((3 / 2) * 100%);
        }

        &.three-four::after {
            padding-bottom: ((4 / 3) * 100%);
        }

        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
</style>
